#exp-video-container {
    position: absolute;
    width: 320px;
    height: 180px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);

    #exp-video-element {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }

    #exp-video-poster-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }

    #exp-video-loading-spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);

        @-webkit-keyframes fade {
            0% { opacity: 1; }
            100% { opacity: 0.25; }
        }

        .spinner-bar {
            -webkit-animation: fade 1.2s infinite linear;
            position: absolute;
            top: -7px;
            left: -2px;
            width: 4px;
            height: 14px;
            border-radius: 5px;
            background: #ffffff;
            opacity: 0;
        }

        .spinner-bar:nth-child(1) {
            -webkit-transform: rotate(0deg) translate(0px, -22px);
            -webkit-animation-delay: 0s;
        }

        .spinner-bar:nth-child(2) {
            -webkit-transform: rotate(30deg) translate(0px, -22px);
            -webkit-animation-delay: 0.1s;
        }

        .spinner-bar:nth-child(3) {
            -webkit-transform: rotate(60deg) translate(0px, -22px);
            -webkit-animation-delay: 0.2s;
        }

        .spinner-bar:nth-child(4) {
            -webkit-transform: rotate(90deg) translate(0px, -22px);
            -webkit-animation-delay: 0.3s;
        }

        .spinner-bar:nth-child(5) {
            -webkit-transform: rotate(120deg) translate(0px, -22px);
            -webkit-animation-delay: 0.4s;
        }

        .spinner-bar:nth-child(6) {
            -webkit-transform: rotate(150deg) translate(0px, -22px);
            -webkit-animation-delay: 0.5s;
        }

        .spinner-bar:nth-child(7) {
            -webkit-transform: rotate(180deg) translate(0px, -22px);
            -webkit-animation-delay: 0.6s;
        }

        .spinner-bar:nth-child(8) {
            -webkit-transform: rotate(210deg) translate(0px, -22px);
            -webkit-animation-delay: 0.7s;
        }

        .spinner-bar:nth-child(9) {
            -webkit-transform: rotate(240deg) translate(0px, -22px);
            -webkit-animation-delay: 0.8s;
        }

        .spinner-bar:nth-child(10) {
            -webkit-transform: rotate(270deg) translate(0px, -22px);
            -webkit-animation-delay: 0.9s;
        }

        .spinner-bar:nth-child(11) {
            -webkit-transform: rotate(300deg) translate(0px, -22px);
            -webkit-animation-delay: 1.0s;
        }

        .spinner-bar:nth-child(12) {
            -webkit-transform: rotate(330deg) translate(0px, -22px);
            -webkit-animation-delay: 1.1s;
        }
    }

    #exp-video-play-button {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 50%;
        top: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        border-radius: 50%;
        background-color: #ffffff;
        background-image:url('../../images/default/icon-play.png');
        background-size: 30px 30px;
        background-position: center;
        background-repeat: no-repeat;
    }

    #exp-video-touch-area {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }
}