@font-face {
  font-family: 'proxima-nova-bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/proxima-nova/proxima-nova-bold.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-bold.woff") format("woff");
}

@font-face {
  font-family: 'proxima-nova-light';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/proxima-nova/proxima-nova-light.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-light.woff") format("woff");
}

@font-face {
  font-family: 'proxima-nova-regular';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/proxima-nova/proxima-nova-regular.woff2") format("woff2"), url("../fonts/proxima-nova/proxima-nova-regular.woff") format("woff");
}

body {
  background-color: #f3f4f6;
  font-family: 'proxima-nova-regular';
}

body #logo-intro {
  background: transparent url("../images/adcolony-logo-black.png") center center no-repeat;
  background-size: 100% auto;
  color: #000;
  font-size: 2em;
  height: 200px;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  padding-top: 150px;
  position: absolute;
  top: 50%;
  width: 200px;
}

/*# sourceMappingURL=main.css.map */
