/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* AD COLONY color palette */
/* New Ad Colony color palette */
@font-face {
  font-family: 'proxima-nova-bold';
  src: url('../../assets/fonts/proxima-nova/proxima-nova-bold.woff2') format('woff2'), url('../../assets/fonts/proxima-nova/proxima-nova-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova-light';
  src: url('../../assets/fonts/proxima-nova/proxima-nova-light.woff2') format('woff2'), url('../../assets/fonts/proxima-nova/proxima-nova-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova-regular';
  src: url('../../assets/fonts/proxima-nova/proxima-nova-regular.woff2') format('woff2'), url('../../assets/fonts/proxima-nova/proxima-nova-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*,
body {
  font-weight: normal;
  font-family: 'Arial';
  line-height: 20px;
  letter-spacing: 0.5px;
}
.omw-hero-text {
  font-family: 'proxima-nova-light';
}
.adc-green-btn {
  font-weight: bold;
}
/*Header*/
.omw-header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 70px;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}
.omw-header .company-logo {
  position: absolute;
  left: 30px;
  width: 120px;
  height: 70px;
  background-image: url('../../assets/images/basic-adc/adcolony-logo-white.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  cursor: pointer;
}
@media (max-width: 479px) {
  .omw-header .company-logo {
    left: 50% !important;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-size: 80% auto;
  }
}
.omw-header .omw-navigation {
  position: absolute;
  right: 30px;
  text-align: right;
}
.omw-header .omw-navigation li {
  line-height: 80px;
  display: inline-block;
  height: 80px;
  margin-right: 10px;
  color: #FFFFFF;
}
@media (max-width: 479px) {
  .omw-header .omw-navigation li {
    display: none;
  }
}
.omw-header .omw-navigation li a {
  font-size: 0.8em;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}
.omw-header .omw-navigation li a:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}
.omw-header .omw-navigation li a.omw-border {
  border: 1px solid #FFFFFF;
}
.omw-header .omw-navigation li a.active {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}
@media (max-width: 1174px) {
  .omw-header .omw-navigation li:nth-child(n+3) {
    display: none;
  }
}
.omw-header.omw-inverse {
  z-index: 20;
  background-color: #040548;
}
.omw-header.omw-inverse .company-logo {
  background-image: url('../../assets/images/basic-adc/adcolony-logo-white.png');
}
@media (max-width: 479px) {
  .omw-header.omw-inverse .company-logo {
    left: 50% !important;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-size: 80% auto;
  }
}
.omw-header.omw-inverse li {
  color: #FFFFFF;
}
.omw-header.omw-inverse li a {
  color: #FFFFFF;
}
.omw-header.omw-inverse li a.omw-border {
  border: 1px solid #333;
}
.omw-header-hide {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.full-footer {
  background-color: #1b1e47;
  color: #fff;
  border-top: 5px solid #1cfcc9;
  padding-top: 30px;
}
footer.content-info {
  background-color: #1b1f44;
  color: #fff;
  padding: 0 30px 40px;
  text-align: center;
}
@media (min-width: 992px) {
  footer.content-info {
    padding: 90px 30px 40px;
    text-align: inherit;
  }
}
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
footer.content-info .bottom-line {
  padding-top: 0;
}
@media (min-width: 544px) {
  .col-sm-9 {
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
  }
}
@media (min-width: 544px) {
  .col-sm-3 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
footer.content-info .footer-center-section .nav .menu-item > a {
  color: #fff;
}
#pardot-form .form-field input.btn-border[type=submit],
.btn.btn-border,
.comment-form input.btn-border[type=submit],
.dl-menuwrapper li:last-child.menu-login > a.btn-border,
.search-form .btn-border.search-submit,
.section-pag .link-page > a.btn-border {
  border: 2px solid #1cfcc9;
  background-color: transparent;
  color: #1cfcc9;
}
#pardot-form .form-field input.btn-border[type=submit]:hover,
.btn.btn-border:hover,
.comment-form input.btn-border[type=submit]:hover,
.dl-menuwrapper li:last-child.menu-login > a.btn-border:hover,
.search-form .btn-border.search-submit:hover,
.section-pag .link-page > a.btn-border:hover {
  background-color: #1cfcc9;
  color: #1b1f44;
}
#pardot-form .form-field input[type=submit],
.btn,
.comment-form input[type=submit],
.dl-menuwrapper li:last-child.menu-login > a,
.search-form .search-submit,
.section-pag .link-page > a {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
}
footer.content-info .footer-center-section .nav {
  -webkit-column-width: 110px;
  -moz-column-width: 110px;
  column-width: 110px;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  text-align: left;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
footer.content-info .footer-left-section .social-icons .fb-icon {
  background: url('../../assets/images/basic-adc/icon-facebook@2x.png') no-repeat 0 0;
  background-size: 40px 40px;
}
footer.content-info .footer-left-section .social-icons .tw-icon {
  background: url('../../assets/images/basic-adc/icon-twitter@2x.png') no-repeat 0 0;
  background-size: 40px 40px;
}
footer.content-info .footer-left-section .social-icons .in-icon {
  background: url('../../assets/images/basic-adc/icon-linkedin@2x.png') no-repeat 0 0;
  background-size: 40px 40px;
}
footer.content-info .footer-left-section .social-icons .intg-icon {
  background: url('../../assets/images/basic-adc/icon-instagram@2x.png') no-repeat 0 0;
  background-size: 40px 40px;
}
footer.content-info .footer-left-section .social-icons .icons {
  width: 40px;
  height: 40px;
}
footer.content-info .footer-left-section .social-icons a {
  display: inline-block;
  margin-right: 10px;
}
footer.content-info .footer-center-section {
  text-align: center;
  max-width: 500px;
  margin: auto;
}
footer.content-info .footer-left-section .footer-logo img {
  max-height: 25px;
  padding-top: 0;
}
footer.content-info .footer-left-section .footer-logo img {
  max-height: 50px;
  padding-top: 25px;
}
/***** Global *****/
/* Body */
body {
  min-height: 500px;
  padding-top: 70px;
  background-color: #040548;
}
/* Headings */
h2 {
  font-size: 1.571em;
}
/* 22px */
h3 {
  font-size: 1.429em;
}
/* 20px */
h4 {
  font-size: 1.286em;
}
/* 18px */
h5 {
  font-size: 1.143em;
}
/* 16px */
h6 {
  font-size: 1em;
}
/* 14px */
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: .8em;
}
/* Anchors */
a {
  outline: 0;
}
a img {
  border: 0px;
  text-decoration: none;
}
a:link,
a:visited {
  color: #FFFFFF;
}
a:hover,
a:active {
  color: #1cfcc9;
}
/* Paragraphs */
p {
  margin-bottom: 1.143em;
}
* p:last-child {
  margin-bottom: 0;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
::-moz-selection {
  background: #1cfcc9;
  color: #fff;
}
::selection {
  background: #1cfcc9;
  color: #fff;
}
/* Lists */
ol {
  list-style: outside decimal;
  margin: 1em 0 1.5em 1.5em;
}
dl {
  margin: 0 0 1.5em 0;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}
/* Quotes */
blockquote {
  font-style: italic;
}
/* Tables */
table {
  margin: .5em auto 1.5em auto;
  width: 98%;
  vertical-align: middle;
}
/* Thead */
thead th {
  padding: .5em .4em;
  text-align: left;
}
/* Tbody */
tbody td {
  padding: .5em .4em;
}
/* Tfoot */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                        not supported by any browser */
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-campaign {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}
.form-control-half {
  display: block;
  width: 50%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-bottom: 5px;
}
.form-control {
  margin-bottom: 5px;
}
.jumbotron p {
  font-size: 14px;
}
label.regular-label {
  font-weight: 300;
}
a.create-campaign {
  top: 17px;
  text-decoration: none;
}
.create-campaign span {
  padding-left: 5px;
}
a.edit-campaign {
  text-decoration: none;
  background-position-y: 5px;
}
.edit-campaign span {
  padding-left: 5px;
}
.bs-callout {
  padding: 0px 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout-info {
  border-left-color: #1b809e;
}
.checkmark {
  position: relative;
  width: 20px;
  height: 22px;
  background-image: url('../../assets/images/basic/checkmark-icon.png');
  background-size: cover;
  margin-left: 10px;
}
.clear {
  clear: both;
}

/*# sourceMappingURL=master.css.map */
