/* AD COLONY color palette */
/* New Ad Colony color palette */
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus {
  border: none !important;
  outline: none !important;
}
html,
body {
  overflow-x: hidden;
}
/*Auth Login*/
.omw-auth-login {
  max-width: 400px;
  margin: 200px auto;
}
.omw-auth-login .omw-auth-login-title {
  font-size: 2.3em;
  margin-top: 25px;
  text-align: center;
}
.omw-auth-login input[type='password'],
.omw-auth-login input[type='email'] {
  height: auto;
  margin: 10px 0;
  padding: 10px;
  color: #4d4d4d;
  border-color: #4d4d4d;
  border-radius: 0;
  background-color: transparent;
  font-size: 1em;
}
.omw-auth-login input[type='password']:focus,
.omw-auth-login input[type='email']:focus {
  border-color: #3acda0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.omw-auth-login input[type='submit'] {
  font-size: 1.3em;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  background-color: #e93535;
  border: 0;
  width: 100%;
}
.omw-auth-login input[type='submit']:hover {
  background-color: #cc2626;
}
/*Login Modal*/
.omw-login {
  position: fixed;
  z-index: 10;
  top: 90px;
  right: 30px;
  box-sizing: border-box;
  width: 220px;
  padding: 10px;
  -webkit-transition-timing-function: cubic-bezier(0.61, 0.14, 0.5, 1.4);
  transition-timing-function: cubic-bezier(0.61, 0.14, 0.5, 1.4);
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.omw-login form {
  position: relative;
}
.omw-login input {
  font-size: 1em;
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 10px 10px;
  color: #8c8c8c;
  border: 0;
  background-color: transparent;
}
.omw-login .omw-underline {
  display: block;
  height: 1px;
  background-color: #343434;
}
.omw-login input[type='submit'] {
  font-size: 1.3em;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  background-color: #e93535;
}
.omw-login input[type='submit']:hover {
  background-color: #cc2626;
}
.omw-login input:active,
.omw-login input:focus {
  border: none;
  outline: none;
}
.omw-login #customBtn {
  display: inline-block;
  background: #e93535;
  color: white;
  width: 198px;
  white-space: nowrap;
}
.omw-login #customBtn span.icon {
  position: relative;
  left: -3px;
  background: url('/assets/images/basic/g-logo.png') transparent 5px 50% no-repeat;
  background-size: 91% auto;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
.omw-login #customBtn span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 17px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.omw-login #customBtn:hover {
  background: #cc2626;
  cursor: pointer;
}
.omw-login .omw-login-password {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #4d4d4d;
  padding-top: 10px;
}
.omw-login .omw-login-password:hover {
  text-decoration: underline;
}
.omw-login::after {
  position: absolute;
  top: -20px;
  right: 15px;
  width: 0;
  height: 0;
  content: '';
  border-width: 0 20px 20px 20px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
.omw-login::before {
  position: absolute;
  top: -21px;
  right: 15px;
  width: 0;
  height: 0;
  content: '';
  border-width: 0 20px 20px 20px;
  border-style: solid;
  border-color: transparent transparent #ccc transparent;
}
.omw-login.omw-modal-hidden {
  visibility: hidden;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
.omw-header .omw-navigation li a.adc-green-btn,
.adc-green-btn,
.adc-green-btn:link,
.adc-green-btn:visited {
  cursor: pointer;
  padding: 9px 30px;
  text-transform: uppercase;
  border-radius: 3px;
  color: #040548;
  background-color: #36fbd0;
}
/*Content*/
.omw-content {
  position: relative;
  width: 100%;
}
.omw-content .omw-hero-image {
  position: relative;
  width: 100%;
  height: 56.5vw;
  max-height: 100vh;
  background-image: url('../../assets/images/basic-adc/head-bkg.jpg');
  background-size: cover;
}
.omw-content .omw-hero-image .hero-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16em;
  margin-left: -8em;
  background: transparent url('../../assets/images/basic-adc/head-rocket.png') no-repeat center center;
  background-size: auto 100%;
}
@media (min-width: 1600px) {
  .omw-content .omw-hero-image .hero-logo {
    height: 13em;
    margin-top: -10em;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  .omw-content .omw-hero-image .hero-logo {
    height: 12em;
    margin-top: -8em;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .omw-content .omw-hero-image .hero-logo {
    height: 9em;
    margin-top: -6em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .omw-content .omw-hero-image .hero-logo {
    height: 5em;
    margin-top: -3em;
  }
}
@media (max-width: 480px) {
  .omw-content .omw-hero-image .hero-logo {
    height: 3em;
    margin-top: -2em;
  }
}
.omw-content .omw-hero-image .omw-hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  color: #fff;
}
@media (min-width: 1600px) {
  .omw-content .omw-hero-image .omw-hero-text {
    margin-top: 5em;
    font-size: 1.8em;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  .omw-content .omw-hero-image .omw-hero-text {
    margin-top: 7em;
    font-size: 1.3em;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .omw-content .omw-hero-image .omw-hero-text {
    margin-top: 6em;
    font-size: 1.1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .omw-content .omw-hero-image .omw-hero-text {
    margin-top: 6em;
    font-size: 1em;
  }
}
@media (max-width: 480px) {
  .omw-content .omw-hero-image .omw-hero-text {
    margin-top: 4em;
    font-size: 0.8em;
  }
}
.omw-content .omw-hero-image .omw-hero-more {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (min-width: 1600px) {
  .omw-content .omw-hero-image .omw-hero-more {
    margin-top: 13em;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  .omw-content .omw-hero-image .omw-hero-more {
    margin-top: 13em;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .omw-content .omw-hero-image .omw-hero-more {
    margin-top: 10em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .omw-content .omw-hero-image .omw-hero-more {
    display: none;
  }
}
@media (max-width: 480px) {
  .omw-content .omw-hero-image .omw-hero-more {
    display: none;
  }
}
.omw-content .omw-hero-image .omw-hero-more:hover {
  background-color: #1cfcc9;
  color: #000000;
}
.omw-content .omw-hero-image .omw-hero-text-underline {
  position: absolute;
  bottom: -24px;
  left: 50%;
  width: 100px;
  height: 30px;
  margin-left: -129px;
}
@media (min-width: 1600px) {
  .omw-content .omw-hero-image .omw-hero-text-underline {
    width: 120px;
    margin-left: -157px;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  .omw-content .omw-hero-image .omw-hero-text-underline {
    width: 91px;
    margin-left: -115px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .omw-content .omw-hero-image .omw-hero-text-underline {
    width: 75px;
    margin-left: -97px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .omw-content .omw-hero-image .omw-hero-text-underline {
    width: 70px;
    margin-left: -89px;
  }
}
@media (max-width: 480px) {
  .omw-content .omw-hero-image .omw-hero-text-underline {
    width: 53px;
    margin-left: -70px;
  }
}
.omw-content .omw-hero-image .omw-hero-text-underline .omw-hero-text-underline-path {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  opacity: 0;
}
.omw-content .omw-hero-image [name='omw-about'] {
  position: absolute;
  bottom: 79px;
}
.omw-content .omw-about {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #000000;
  background-color: #f3f4f6;
}
.omw-content .omw-about .omw-about-title {
  width: 100%;
  padding-top: 100px;
  font-weight: bold;
  font-size: 1.7em;
  text-transform: uppercase;
}
.omw-content .omw-about .omw-about-subtitle {
  width: 100%;
  padding: 10px 50px 100px 50px;
  font-size: 0.9em;
}
@media (min-width: 1600px) {
  .omw-content .omw-about .omw-about-subtitle {
    max-width: 40%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .omw-content .omw-about .omw-about-subtitle {
    max-width: 40%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .omw-content .omw-about .omw-about-subtitle {
    max-width: 60%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .omw-content .omw-about .omw-about-subtitle {
    max-width: 60%;
    margin: 0 auto;
  }
}
.omw-content .omw-about .omw-about-arrow-down svg {
  width: 60px;
  height: 60px;
  margin: 0 auto 25px 0;
  cursor: pointer;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  text-align: center;
}
.omw-content .omw-about .omw-about-arrow-down svg:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.omw-content .omw-about .omw-flex-about-wrapper {
  width: 100%;
  height: 500px;
  background-image: url('../../assets/images/basic-adc/about-bkg.jpg');
  background-size: 100% auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin-bottom: 50px;
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-about {
  background-image: url('../../assets/images/basic-adc/about-img.png');
  max-width: 1180px;
  margin: 0 auto;
  height: 100%;
  background-size: 70% auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-about .omw-about-box {
  position: relative;
  box-sizing: border-box;
  width: 25%;
  height: 25vw;
  max-height: 295px;
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-about .omw-about-box .omw-about-box-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
}
@media (min-width: 1600px) {
  .omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-about .omw-about-box .omw-about-box-content {
    font-size: 1.5em;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-about .omw-about-box .omw-about-box-content {
    font-size: 1.2em;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-about .omw-about-box .omw-about-box-content {
    font-size: 1.2em;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-about .omw-about-box .omw-about-box-content {
    font-size: 1.6em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-about .omw-about-box .omw-about-box-content {
    font-size: 1em;
  }
}
@media (max-width: 479px) {
  .omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-about .omw-about-box .omw-about-box-content {
    font-size: .8em;
  }
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-about .omw-about-box:nth-child(2) {
  background-image: url('../../assets/images/basic/about-1.jpg');
  background-size: cover;
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-about .omw-about-box:nth-child(3) {
  background-image: url('../../assets/images/basic/about-2.jpg');
  background-size: cover;
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-about .omw-about-box:nth-child(5) {
  background-image: url('../../assets/images/basic/about-3.jpg');
  background-size: cover;
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-about .omw-about-box:nth-child(7) {
  background-image: url('../../assets/images/basic/about-4.jpg');
  background-size: cover;
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-about .omw-about-box:nth-child(8) {
  background-image: url('../../assets/images/basic/about-5.jpg');
  background-size: cover;
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker {
  max-width: 1180px;
  margin: 0 auto;
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box {
  position: relative;
  box-sizing: border-box;
  width: 600px;
  height: 70vw;
  max-height: 295px;
  margin: 200px auto 0px auto;
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-adlocker-title {
  color: #fff;
}
@media (min-width: 1600px) {
  .omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-adlocker-title {
    font-size: 3.3em;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-adlocker-title {
    font-size: 3.3em;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-adlocker-title {
    font-size: 3.3em;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-adlocker-title {
    font-size: 3.3em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-adlocker-title {
    font-size: 2em;
  }
}
@media (max-width: 479px) {
  .omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-adlocker-title {
    font-size: 2em;
  }
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-adlocker-subtitle {
  color: white;
  margin-bottom: 35px;
}
@media (min-width: 1600px) {
  .omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-adlocker-subtitle {
    font-size: 1.6em;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-adlocker-subtitle {
    font-size: 1.6em;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-adlocker-subtitle {
    font-size: 1.6em;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-adlocker-subtitle {
    font-size: 1.6em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-adlocker-subtitle {
    font-size: 1em;
  }
}
@media (max-width: 479px) {
  .omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-adlocker-subtitle {
    font-size: 1em;
  }
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box #omw-adlocker-search-input {
  width: 60%;
  padding: 17px;
  color: #333;
  background-image: url('../../assets/images/basic/search-icon.png');
  background-repeat: no-repeat;
  background-position: 95% center;
  border: 0px;
  outline: none;
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .autosuggest ul li a span {
  font-weight: 300;
  padding: 3px 15px;
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-search-filter {
  position: relative;
  float: left;
  width: 40%;
  background-color: white;
  height: 54px;
  line-height: 54px;
  background-color: #efefef;
  color: #595959;
  font-size: 0.9em;
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-search-filter .btn {
  width: 100%;
  height: 51px;
  margin: 0px;
  border: 0px;
  padding: 8px 20px;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  font-size: 0.9em;
  text-align: left;
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-search-filter .btn .caret {
  position: relative;
  top: 5px;
  margin-left: 6px;
  float: right;
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-search-filter .btn:focus,
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-search-filter .btn:hover,
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-search-filter .btn:active {
  background-color: transparent !important;
  border-color: transparent;
  outline: none;
  box-shadow: none;
  font-size: 0.9em;
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-search-filter .dropdown-menu {
  margin: 0px;
  border: 0px;
  padding: 0;
  border-radius: 0px;
  font-size: 0.9em;
  width: 100%;
  color: #595959;
}
.omw-content .omw-about .omw-flex-about-wrapper .omw-flex.omw-flex-adlocker .omw-adlocker-box .omw-search-filter .dropdown-menu li a {
  padding: 20px;
  font-weight: 300;
}
.omw-content .omw-about [name='omw-products'] {
  position: absolute;
  bottom: 79px;
}
.omw-content .omw-products {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  color: #333;
}
.omw-content .omw-products .omw-products-header {
  background-color: #f3f4f6;
}
.omw-content .omw-products .omw-products-title {
  width: 100%;
  padding-top: 25px;
}
@media (min-width: 1600px) {
  .omw-content .omw-products .omw-products-title {
    font-size: 3.3em;
    padding-top: 50px;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .omw-content .omw-products .omw-products-title {
    font-size: 3.3em;
    padding-top: 50px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .omw-content .omw-products .omw-products-title {
    font-size: 2em;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .omw-content .omw-products .omw-products-title {
    font-size: 2em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .omw-content .omw-products .omw-products-title {
    font-size: 2em;
  }
}
@media (max-width: 479px) {
  .omw-content .omw-products .omw-products-title {
    font-size: 2em;
  }
}
.omw-content .omw-products .omw-products-subtitle {
  width: 100%;
  padding: 25px;
}
@media (min-width: 1600px) {
  .omw-content .omw-products .omw-products-subtitle {
    font-size: 1.2em;
    padding: 50px;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .omw-content .omw-products .omw-products-subtitle {
    font-size: 1.2em;
    padding: 50px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .omw-content .omw-products .omw-products-subtitle {
    font-size: 1em;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .omw-content .omw-products .omw-products-subtitle {
    font-size: 1em;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .omw-content .omw-products .omw-products-subtitle {
    font-size: 1em;
  }
}
@media (max-width: 479px) {
  .omw-content .omw-products .omw-products-subtitle {
    font-size: 1em;
  }
}
.omw-content .omw-products .omw-products-filter {
  font-size: 1em;
  position: relative;
  width: 100%;
  margin: 0 auto 10px auto;
  padding-bottom: 50px;
}
@media (max-width: 1200px) {
  .omw-content .omw-products .omw-products-filter {
    padding-bottom: 25px;
  }
}
@media (max-width: 680px) {
  .omw-content .omw-products .omw-products-filter {
    padding-bottom: 10px;
  }
}
.omw-content .omw-products .omw-products-filter .omw-products-filter-title {
  display: inline-block;
  padding-right: 5px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}
@media (max-width: 680px) {
  .omw-content .omw-products .omw-products-filter .omw-products-filter-title {
    display: block;
    margin: 0 auto;
    padding: 15px 0 0 0;
  }
}
.omw-content .omw-products .omw-products-filter label {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 50px;
  margin: 0;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  border: none;
  border-radius: 0;
  outline: none;
  background-color: #333;
}
@media (max-width: 680px) {
  .omw-content .omw-products .omw-products-filter label {
    display: block;
    width: 320px;
    margin: 0 auto 10px auto;
  }
}
.omw-content .omw-products .omw-products-filter label::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: attr(title);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: #fff;
}
.omw-content .omw-products .omw-products-filter label:hover {
  background-color: #1d1d1d;
}
.omw-content .omw-products .omw-products-filter input[type='radio'] {
  display: none;
}
.omw-content .omw-products .omw-products-filter input[type='radio']:checked + label {
  background-color: #1cfcc9;
}
.omw-content .omw-products .omw-products-filter input[type='radio']:checked + label:hover {
  background-color: #1b1e47;
}
.omw-content .omw-products .omw-flex.omw-flex-products {
  background-image: url('../../assets/images/basic-adc/sample-bkg-top.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #040548;
  max-width: 1020px;
  margin: 0 auto;
}
@media (max-width: 1020px) {
  .omw-content .omw-products .omw-flex.omw-flex-products {
    width: 680px;
  }
}
@media (max-width: 680px) {
  .omw-content .omw-products .omw-flex.omw-flex-products {
    width: 320px;
  }
}
.omw-content .omw-products .omw-flex.omw-flex-products .omw-product {
  position: relative;
  width: 320px;
  height: 480px;
  margin: 10px;
  background-color: #fff;
}
@media (max-width: 680px) {
  .omw-content .omw-products .omw-flex.omw-flex-products .omw-product {
    margin: 10px 0;
  }
}
.omw-content .omw-products .omw-flex.omw-flex-products .omw-product .owl-carousel {
  display: block;
}
.omw-content .omw-products .omw-flex.omw-flex-products .omw-product .owl-carousel.omw-product-images {
  display: block;
}
.omw-content .omw-products .omw-flex.omw-flex-products .omw-product .owl-carousel.omw-product-images .omw-product-image {
  height: 480px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.omw-content .omw-products .omw-flex.omw-flex-products .omw-product .owl-carousel.omw-product-images .omw-product-image .omw-product-qr {
  font-size: 20px;
  padding-top: 40px;
}
.omw-content .omw-products .omw-flex.omw-flex-products .omw-product .owl-carousel.omw-product-images .owl-controls {
  position: absolute;
  z-index: 10;
  bottom: 34px;
  left: 50%;
  margin: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.omw-content .omw-products .omw-flex.omw-flex-products .omw-product .owl-carousel.omw-product-images .owl-controls .owl-pagination {
  display: block;
}
.omw-content .omw-products .omw-flex.omw-flex-products .omw-product .owl-carousel.omw-product-images .owl-controls .owl-pagination .owl-page span {
  width: 10px;
  height: 10px;
  margin: 5px 5px;
  border: 1px solid #fff;
  background-color: transparent;
}
.omw-content .omw-products .omw-flex.omw-flex-products .omw-product .owl-carousel.omw-product-images .owl-controls .owl-pagination .owl-page.active span {
  border: 1px solid #fff;
  background-color: #fff;
}
.omw-content .omw-products .omw-flex.omw-flex-products .omw-product .owl-carousel.omw-product-images .loading {
  height: 480px;
}
.omw-content .omw-products .omw-flex.omw-flex-products .omw-product .omw-product-info {
  font-size: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 320px;
  padding: 20px 10px 10px 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
}
.omw-content .omw-products .omw-flex.omw-flex-products .omw-product .omw-product-info .omw-product-name {
  line-height: 36px;
  display: block;
  text-align: left;
}
.omw-content .omw-products .omw-flex.omw-flex-products .omw-product .omw-product-info .omw-product-link {
  position: absolute;
  top: 11px;
  right: 9px;
  display: block;
  padding: 13px 10px;
  color: #1b1e47;
  background-color: #1cfcc9;
  cursor: pointer;
}
.omw-content .omw-products .omw-flex.omw-flex-products .omw-product .omw-product-info .omw-product-link:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #1b1e47;
}
.omw-content .omw-heart-message {
  color: #000000;
  font-size: 1.5em;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: white;
}
.omw-content .omw-heart-message .fa-heart {
  position: relative;
  margin: 0 5px;
  animation: pulse 5s infinite;
  -webkit-animation: pulse 5s infinite;
  -moz-animation: pulse 5s infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
#as_omw-adlocker-search-input .as_header {
  background-color: white;
  height: auto;
  overflow: hidden;
}
#as_omw-adlocker-search-input .as_header a {
  color: white;
}
#as_omw-adlocker-search-input .as_header .as_all {
  padding: 6px 10px;
}
#as_omw-adlocker-search-input .as_header .as_all a {
  background-color: #f2f2f2;
  margin: 2px;
  color: #333;
  float: left;
  padding: 3px 5px;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
}
#as_omw-adlocker-search-input .as_header .as_all a.active {
  background-color: #333;
  color: white;
}
#as_omw-adlocker-search-input .as_header .as_bar {
  clear: both;
  color: white;
  padding: 0px 15px;
  font-size: 0.9em;
  background-color: #333;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
#as_omw-adlocker-search-input #as_ul li {
  height: 52px;
  padding: 2px 0px;
  text-transform: uppercase;
  color: #333;
  font-weight: 300;
}
#as_omw-adlocker-search-input #as_ul li a {
  height: 52px;
  padding: 2px 0px;
  text-transform: uppercase;
  color: #333;
  font-weight: 300;
}
#as_omw-adlocker-search-input #as_ul li small {
  text-transform: capitalize;
}
#as_omw-adlocker-search-input #as_ul li:nth-child(even) {
  background-color: #f2f2f2;
}
#as_omw-adlocker-search-input #as_ul li.as_warning {
  line-height: 52px;
}
#as_omw-adlocker-search-input ul li a span {
  font-weight: 300;
  padding: 3px 15px;
}
/*Modal*/
.omw-product-modal-wrapper {
  position: fixed;
  z-index: 50;
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  width: 0;
  height: 0;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: #fff;
}
@media (max-width: 768px) {
  .omw-product-modal-wrapper {
    overflow: hidden;
  }
}
.omw-product-modal-wrapper .omw-product-modal-content {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  padding-left: 250px;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  text-align: center;
  opacity: 0;
  background-image: url('../../assets/images/basic/preview-bkg@2x.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;
}
.omw-product-modal-wrapper .omw-product-modal-content .omw-product-modal-title {
  font-size: 2.6em;
  margin-top: 20px;
}
.omw-product-modal-wrapper .omw-product-modal-content .omw-product-modal-description {
  font-size: 1.3em;
  max-width: 775px;
  margin: 0 auto;
  margin-top: 20px;
}
.omw-product-modal-wrapper .omw-product-modal-content .omw-product-modal-share-button {
  border: 1px solid #333;
  font-size: 15px;
  padding: 5px 15px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  position: absolute;
  top: 28px;
  left: 15px;
  margin: 0 auto 0 260px;
}
@media (max-width: 1250px) {
  .omw-product-modal-wrapper .omw-product-modal-content .omw-product-modal-share-button {
    display: none;
  }
}
.omw-product-modal-wrapper .omw-product-modal-content .omw-product-modal-qrcode-button {
  border: 1px solid #333;
  font-size: 15px;
  width: 88px;
  height: 35px;
  padding: 5px 8px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  background-color: white;
  position: absolute;
  top: 28px;
  left: 15px;
  margin: 0 auto 0 260px;
  text-align: left;
  overflow: hidden;
  /*
            -webkit-box-shadow: -1px 0px 19px -5px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 0px 19px -5px rgba(0,0,0,0.75);
            box-shadow: -1px 0px 19px -5px rgba(0,0,0,0.75);
            */
  -webkit-transition: height 0.6s, width 0.4s;
  transition: height 0.6s, width 0.4s;
}
@media (max-width: 1250px) {
  .omw-product-modal-wrapper .omw-product-modal-content .omw-product-modal-qrcode-button {
    display: none;
  }
}
.omw-product-modal-wrapper .omw-product-modal-content .omw-product-modal-qrcode-button #omw-product-qr {
  position: absolute;
  font-size: 0.9em;
  text-transform: none;
  width: 180px;
  margin: 0px;
  padding: 0px;
  bottom: -40px;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.omw-product-modal-wrapper .omw-product-modal-content .omw-product-modal-qrcode-button #omw-product-qr a {
  color: #333;
}
.omw-product-modal-wrapper .omw-product-modal-content .omw-product-modal-qrcode-button #omw-qrcode-image {
  width: auto;
  height: 215px;
  background-size: 215px auto !important;
  background-repeat: no-repeat;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.omw-product-modal-wrapper .omw-product-modal-content .omw-product-modal-qrcode-button #qrcode-close {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 5px;
  right: 6px;
  opacity: 0;
}
.omw-product-modal-wrapper .omw-product-modal-content .omw-product-modal-qrcode-bottom {
  top: 90px;
}
.omw-product-modal-wrapper .omw-product-modal-content .omw-product-modal-share-button:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}
.omw-product-modal-wrapper .omw-product-modal-content .omw-device-iframe {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}
.omw-product-modal-wrapper-expand {
  width: 100%;
  height: 100%;
  opacity: 1;
  color: #333;
}
.omw-product-modal-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  background-color: #111;
}
@media (max-width: 767px) {
  .omw-product-modal-menu {
    display: none;
  }
}
.omw-product-modal-menu .omw-product-modal-logo {
  width: 135px;
  height: 80px;
  margin-left: 30px;
  background-image: url('../../assets/images/basic-adc/adcolony-logo-white.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.omw-product-modal-close {
  position: fixed;
  z-index: 100;
  top: 15px;
  right: 15px;
  visibility: hidden;
  width: 50px;
  height: 50px;
  padding: 10px;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  opacity: 0;
  color: #333;
}
@media (max-width: 768px) {
  .omw-product-modal-close {
    top: 0;
    right: 0;
  }
}
.omw-product-modal-close:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.omw-product-modal-menu-hide {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/*Preload*/
@keyframes preload {
  0%,
  100% {
    background-color: #8c8c8c;
  }
  50% {
    background-color: #d9d9d9;
  }
}
@-webkit-keyframes preload {
  0%,
  100% {
    background-color: #8c8c8c;
  }
  50% {
    background-color: #d9d9d9;
  }
}
.omw-overlay {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #f3f4f6;
  transition-duration: 300ms;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
}
.omw-overlay .omw-preload {
  position: absolute;
  left: 50%;
  top: 50%;
  list-style: none;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.omw-overlay .omw-preload .omw-preload-bar {
  float: left;
  width: 10px;
  height: 50px;
  margin: 0 2px;
  background-color: #8c8c8c;
  animation: preload 500ms ease-in-out infinite;
  -webkit-animation: preload 500ms ease-in-out infinite;
  -moz-animation: preload 500ms ease-in-out infinite;
}
.omw-overlay .omw-preload .omw-preload-bar:nth-child(1) {
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}
.omw-overlay .omw-preload .omw-preload-bar:nth-child(2) {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}
.omw-overlay .omw-preload .omw-preload-bar:nth-child(3) {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
/*Helper Classes*/
.omw-flex {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.omw-col-2 {
  width: 50%;
}
.omw-col-3 {
  width: 33.3333333333%;
}
.omw-col-4 {
  width: 25%;
}
#current-tag-zen,
#output-tag-zen,
#image-interstitial-output-tag,
#dfa-output-tag,
#dfa-tag,
#celtra-output-tag,
#celtra-tag {
  height: 300px;
  max-width: 100%;
}
.sample-iframe {
  width: 375px;
  height: 668px;
  right: 27px;
  top: 116px;
  background: #000;
  position: absolute;
  /*    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);*/
}
#celtra-not-available,
#offnetwork-not-available {
  width: 375px;
  height: 668px;
  right: 27px;
  top: 116px;
  background: #009140;
  position: absolute;
  color: #fff;
  font-size: 25pt;
  padding: 10px;
  opacity: 0;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
#iframe-container {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  position: fixed;
  right: -50px;
  top: -50px;
  z-index: 100;
  background-image: url('../../assets/images/basic/iphone_6.png');
  background-size: 593px auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 428px;
  height: 900px;
  -webkit-transition-duration: 800ms;
  transition-duration: 800ms;
}
#show-hide-sample {
  position: fixed;
  right: 20px;
  font-size: 18px;
  font-weight: 800;
  top: 150px;
  text-align: center;
  z-index: 101;
}
#menu-dropdown {
  width: 300px;
  margin: 30px 0 0 30px;
}
#interstitial-menu-dropdown {
  width: 300px;
}
#uploaded-image {
  display: block;
  visibility: hidden;
  width: 0px;
  height: 0px;
}
@media (max-width: 1290px) {
  #show-hide-sample {
    position: absolute;
  }
}
.omw-device-btn:checked + label {
  background-color: #1cfcc9;
}

/*# sourceMappingURL=omw.css.map */
