/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* AD COLONY color palette */
/* New Ad Colony color palette */
@font-face {
  font-family: 'proxima-nova-bold';
  src: url('../../assets/fonts/proxima-nova/proxima-nova-bold.woff2') format('woff2'), url('../../assets/fonts/proxima-nova/proxima-nova-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova-light';
  src: url('../../assets/fonts/proxima-nova/proxima-nova-light.woff2') format('woff2'), url('../../assets/fonts/proxima-nova/proxima-nova-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova-regular';
  src: url('../../assets/fonts/proxima-nova/proxima-nova-regular.woff2') format('woff2'), url('../../assets/fonts/proxima-nova/proxima-nova-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*,
body {
  font-weight: normal;
  font-family: 'Arial';
  line-height: 20px;
  letter-spacing: 0.5px;
}
.omw-hero-text {
  font-family: 'proxima-nova-light';
}
.adc-green-btn {
  font-weight: bold;
}
/*Header*/
.omw-header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 70px;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
}
.omw-header .company-logo {
  position: absolute;
  left: 30px;
  width: 120px;
  height: 70px;
  background-image: url('../../assets/images/basic-adc/adcolony-logo-white.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  cursor: pointer;
}
@media (max-width: 479px) {
  .omw-header .company-logo {
    left: 50% !important;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-size: 80% auto;
  }
}
.omw-header .omw-navigation {
  position: absolute;
  right: 30px;
  text-align: right;
}
.omw-header .omw-navigation li {
  line-height: 80px;
  display: inline-block;
  height: 80px;
  margin-right: 10px;
  color: #FFFFFF;
}
@media (max-width: 479px) {
  .omw-header .omw-navigation li {
    display: none;
  }
}
.omw-header .omw-navigation li a {
  font-size: 0.8em;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}
.omw-header .omw-navigation li a:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}
.omw-header .omw-navigation li a.omw-border {
  border: 1px solid #FFFFFF;
}
.omw-header .omw-navigation li a.active {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}
@media (max-width: 1174px) {
  .omw-header .omw-navigation li:nth-child(n+3) {
    display: none;
  }
}
.omw-header.omw-inverse {
  z-index: 20;
  background-color: #040548;
}
.omw-header.omw-inverse .company-logo {
  background-image: url('../../assets/images/basic-adc/adcolony-logo-white.png');
}
@media (max-width: 479px) {
  .omw-header.omw-inverse .company-logo {
    left: 50% !important;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-size: 80% auto;
  }
}
.omw-header.omw-inverse li {
  color: #FFFFFF;
}
.omw-header.omw-inverse li a {
  color: #FFFFFF;
}
.omw-header.omw-inverse li a.omw-border {
  border: 1px solid #333;
}
.omw-header-hide {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.full-footer {
  background-color: #1b1e47;
  color: #fff;
  border-top: 5px solid #1cfcc9;
  padding-top: 30px;
}
footer.content-info {
  background-color: #1b1f44;
  color: #fff;
  padding: 0 30px 40px;
  text-align: center;
}
@media (min-width: 992px) {
  footer.content-info {
    padding: 90px 30px 40px;
    text-align: inherit;
  }
}
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
footer.content-info .bottom-line {
  padding-top: 0;
}
@media (min-width: 544px) {
  .col-sm-9 {
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
  }
}
@media (min-width: 544px) {
  .col-sm-3 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
footer.content-info .footer-center-section .nav .menu-item > a {
  color: #fff;
}
#pardot-form .form-field input.btn-border[type=submit],
.btn.btn-border,
.comment-form input.btn-border[type=submit],
.dl-menuwrapper li:last-child.menu-login > a.btn-border,
.search-form .btn-border.search-submit,
.section-pag .link-page > a.btn-border {
  border: 2px solid #1cfcc9;
  background-color: transparent;
  color: #1cfcc9;
}
#pardot-form .form-field input.btn-border[type=submit]:hover,
.btn.btn-border:hover,
.comment-form input.btn-border[type=submit]:hover,
.dl-menuwrapper li:last-child.menu-login > a.btn-border:hover,
.search-form .btn-border.search-submit:hover,
.section-pag .link-page > a.btn-border:hover {
  background-color: #1cfcc9;
  color: #1b1f44;
}
#pardot-form .form-field input[type=submit],
.btn,
.comment-form input[type=submit],
.dl-menuwrapper li:last-child.menu-login > a,
.search-form .search-submit,
.section-pag .link-page > a {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
}
footer.content-info .footer-center-section .nav {
  -webkit-column-width: 110px;
  -moz-column-width: 110px;
  column-width: 110px;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  text-align: left;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
footer.content-info .footer-left-section .social-icons .fb-icon {
  background: url('../../assets/images/basic-adc/icon-facebook@2x.png') no-repeat 0 0;
  background-size: 40px 40px;
}
footer.content-info .footer-left-section .social-icons .tw-icon {
  background: url('../../assets/images/basic-adc/icon-twitter@2x.png') no-repeat 0 0;
  background-size: 40px 40px;
}
footer.content-info .footer-left-section .social-icons .in-icon {
  background: url('../../assets/images/basic-adc/icon-linkedin@2x.png') no-repeat 0 0;
  background-size: 40px 40px;
}
footer.content-info .footer-left-section .social-icons .intg-icon {
  background: url('../../assets/images/basic-adc/icon-instagram@2x.png') no-repeat 0 0;
  background-size: 40px 40px;
}
footer.content-info .footer-left-section .social-icons .icons {
  width: 40px;
  height: 40px;
}
footer.content-info .footer-left-section .social-icons a {
  display: inline-block;
  margin-right: 10px;
}
footer.content-info .footer-center-section {
  text-align: center;
  max-width: 500px;
  margin: auto;
}
footer.content-info .footer-left-section .footer-logo img {
  max-height: 25px;
  padding-top: 0;
}
footer.content-info .footer-left-section .footer-logo img {
  max-height: 50px;
  padding-top: 25px;
}
/***** Global *****/
/* Body */
body {
  min-height: 500px;
  padding-top: 70px;
  background-color: #040548;
}
/* Headings */
h2 {
  font-size: 1.571em;
}
/* 22px */
h3 {
  font-size: 1.429em;
}
/* 20px */
h4 {
  font-size: 1.286em;
}
/* 18px */
h5 {
  font-size: 1.143em;
}
/* 16px */
h6 {
  font-size: 1em;
}
/* 14px */
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: .8em;
}
/* Anchors */
a {
  outline: 0;
}
a img {
  border: 0px;
  text-decoration: none;
}
a:link,
a:visited {
  color: #FFFFFF;
}
a:hover,
a:active {
  color: #1cfcc9;
}
/* Paragraphs */
p {
  margin-bottom: 1.143em;
}
* p:last-child {
  margin-bottom: 0;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
::-moz-selection {
  background: #1cfcc9;
  color: #fff;
}
::selection {
  background: #1cfcc9;
  color: #fff;
}
/* Lists */
ol {
  list-style: outside decimal;
  margin: 1em 0 1.5em 1.5em;
}
dl {
  margin: 0 0 1.5em 0;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}
/* Quotes */
blockquote {
  font-style: italic;
}
/* Tables */
table {
  margin: .5em auto 1.5em auto;
  width: 98%;
  vertical-align: middle;
}
/* Thead */
thead th {
  padding: .5em .4em;
  text-align: left;
}
/* Tbody */
tbody td {
  padding: .5em .4em;
}
/* Tfoot */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                        not supported by any browser */
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-campaign {
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}
.form-control-half {
  display: block;
  width: 50%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-bottom: 5px;
}
.form-control {
  margin-bottom: 5px;
}
.jumbotron p {
  font-size: 14px;
}
label.regular-label {
  font-weight: 300;
}
a.create-campaign {
  top: 17px;
  text-decoration: none;
}
.create-campaign span {
  padding-left: 5px;
}
a.edit-campaign {
  text-decoration: none;
  background-position-y: 5px;
}
.edit-campaign span {
  padding-left: 5px;
}
.bs-callout {
  padding: 0px 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout-info {
  border-left-color: #1b809e;
}
.checkmark {
  position: relative;
  width: 20px;
  height: 22px;
  background-image: url('../../assets/images/basic/checkmark-icon.png');
  background-size: cover;
  margin-left: 10px;
}
.clear {
  clear: both;
}
/*Header*/
.omw-admin-header {
  position: fixed;
  z-index: 30;
  top: 70px;
  width: 100%;
  height: 40px;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  background-color: #211837;
  border-bottom: 6px solid #1cfcc9;
}
.omw-admin-header .omw-admin-navigation {
  position: absolute;
  right: 30px;
  text-align: center;
}
.omw-admin-header .omw-admin-navigation li {
  line-height: 40px;
  display: inline-block;
  height: 40px;
  margin: 0 10px;
  padding: 0 15px;
  color: #fff;
}
.omw-admin-header .omw-admin-navigation li .omw-admin-dropdown-menu {
  position: absolute;
  display: none;
  min-width: 160px;
  z-index: 1000;
  -webkit-transition-timing-function: cubic-bezier(0.61, 0.14, 0.5, 1.4);
  transition-timing-function: cubic-bezier(0.61, 0.14, 0.5, 1.4);
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  background-color: #1cfcc9;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
  margin-left: -50px;
}
.omw-admin-header .omw-admin-navigation li .omw-admin-dropdown-menu li {
  margin: 0;
  display: block;
}
.omw-admin-header .omw-admin-navigation li .omw-admin-dropdown-menu li a {
  display: block;
  text-align: center;
  font-size: 0.7em;
  color: #000000;
}
.omw-admin-header .omw-admin-navigation li .omw-admin-dropdown-menu li:hover {
  background-color: #211837;
}
.omw-admin-header .omw-admin-navigation li .omw-admin-dropdown-menu li:hover a {
  color: #FFFFFF;
}
.omw-admin-header .omw-admin-navigation li a {
  display: block;
  text-align: center;
  font-size: 0.7em;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.omw-admin-header .omw-admin-navigation li a .fa-caret-down {
  padding-left: 10px;
}
.omw-admin-header .omw-admin-navigation li.open .omw-admin-dropdown-menu {
  display: block;
}
.omw-admin-header .omw-admin-navigation li.omw-admin-navigation-active {
  background-color: #1cfcc9;
  box-shadow: none;
}
.omw-admin-header .omw-admin-navigation li.omw-admin-navigation-active a {
  color: #000000;
}
.omw-admin-header .omw-admin-navigation li.omw-admin-navigation-active:hover {
  background-color: #1cfcc9;
  box-shadow: none;
}
.omw-admin-header .omw-admin-navigation li:hover {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}
/*Content*/
.admin-content-wrap {
  position: relative;
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: #BFBCC1;
  /*Visible Check Button - Ad Locker*/
  /*API*/
}
.admin-content-wrap .omw-admin-btn,
.admin-content-wrap input[type='submit'] {
  display: inline-block;
  font-size: 0.8em;
  width: 180px;
  margin: 25px 25px 25px 0;
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d4d4d;
  border: 1px solid #4d4d4d;
  background: #fff;
}
.admin-content-wrap .omw-admin-btn:hover,
.admin-content-wrap input[type='submit']:hover {
  color: #4d4d4d;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}
.admin-content-wrap .omw-admin-btn-small {
  float: right;
  display: inline-block;
  font-size: 0.6em;
  width: 130px;
  margin-top: 35px;
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d4d4d;
  border: 0px;
  background: #fff;
}
.admin-content-wrap .omw-admin-btn-small:hover {
  color: #4d4d4d;
  background: #ebebeb;
}
.admin-content-wrap .omw-admin-btn-small:active {
  color: #4d4d4d;
  background: #d2d2d2;
}
.admin-content-wrap .omw-tabs {
  display: block;
  margin: 0;
}
.admin-content-wrap .omw-tabs li {
  display: inline-block;
  margin-top: -4px;
  margin-right: -4px;
  padding: 10px 15px;
}
.admin-content-wrap .omw-tabs li a {
  text-decoration: none;
  color: #4d4d4d;
}
.admin-content-wrap .omw-tabs li:hover {
  background-color: #ebebeb;
}
.admin-content-wrap .omw-tabs li.active {
  background-color: #4d4d4d;
}
.admin-content-wrap .omw-tabs li.active a {
  color: #fff;
}
.admin-content-wrap label {
  font-size: 1em;
  font-weight: 100;
  display: block;
  width: 100%;
  margin: 0;
  padding: 20px 0 0 0;
  color: #4d4d4d;
}
.admin-content-wrap input[type='text'],
.admin-content-wrap input[type='password'],
.admin-content-wrap input[type='checkbox'],
.admin-content-wrap textarea,
.admin-content-wrap select {
  height: auto;
  margin: 10px 0;
  padding: 10px;
  color: #4d4d4d;
  border-color: #4d4d4d;
  border-radius: 0;
}
.admin-content-wrap input[type='checkbox'] {
  margin-right: 5px;
}
.admin-content-wrap input[type='text']:focus,
.admin-content-wrap input[type='password']:focus,
.admin-content-wrap textarea:focus {
  border-color: #3acda0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.admin-content-wrap .form-control[readonly] {
  background-color: transparent;
}
.admin-content-wrap .form-control-date {
  width: 467px;
}
.admin-content-wrap input {
  margin: 10px 0;
}
.admin-content-wrap .omw-admin-checkbox label:first-child {
  font-weight: bold;
}
.admin-content-wrap .omw-admin-checkbox .omw-admin-checkbox-item {
  padding-right: 20px;
}
.admin-content-wrap .omw-admin-checkbox .omw-admin-checkbox-item label {
  display: inline-block;
  width: auto;
}
.admin-content-wrap .omw-admin-checkbox .omw-admin-checkbox-item .input-other {
  display: inline-block;
  width: 135px;
  margin-left: 15px;
}
.admin-content-wrap .omw-admin-dates {
  margin: 0px;
  padding: 0px;
}
.admin-content-wrap .omw-admin-dates input {
  width: 90%;
}
.admin-content-wrap .omw-admin-format-feature {
  display: inline-block;
  padding-right: 20px;
}
.admin-content-wrap .omw-admin-format-feature label {
  display: inline-block;
  width: auto;
}
.admin-content-wrap .omw-admin-format-image {
  position: relative;
  display: inline-block;
  border: 1px solid #4d4d4d;
  padding: 10px;
  margin: 10px 10px 10px 0;
}
.admin-content-wrap .omw-admin-format-image a {
  color: #4d4d4d;
}
.admin-content-wrap .omw-admin-format-image > div {
  font-size: 1em;
  width: 180px;
  margin: 25px auto;
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d4d4d;
  border: 1px solid #4d4d4d;
  background: #fff;
}
.admin-content-wrap input.ios7checkbox[type=checkbox] {
  display: none;
}
.admin-content-wrap input.ios7checkbox[type=checkbox] + label .check {
  margin-right: 8px;
  width: 48px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.admin-content-wrap input.ios7checkbox[type=checkbox] + label .check:before,
.admin-content-wrap input.ios7checkbox[type=checkbox] + label .check:after {
  box-sizing: border-box;
  content: "";
  display: block;
  height: 32px;
  position: absolute;
  left: 0;
}
.admin-content-wrap input.ios7checkbox[type=checkbox] + label .check:before {
  top: 0;
  border: 1px solid #cecece;
  border-radius: 18px;
  background: #E2E2E2;
  width: 48px;
  -webkit-transition: border-width 0.3s, border-color 0.1s ease 0.3s;
  transition: border-width 0.3s, border-color 0.1s ease 0.3s;
}
.admin-content-wrap input.ios7checkbox[type=checkbox] + label .check:after {
  top: 1px;
  background: #fafafa;
  border-radius: 50%;
  height: 30px;
  left: 1px;
  right: 17px;
  box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 0.4), 1px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: right 0.2s ease-in, left 0.2s ease-out;
  transition: right 0.2s ease-in, left 0.2s ease-out;
}
.admin-content-wrap input.ios7checkbox[type=checkbox]:checked + label .check:after {
  left: 17px;
  right: 1px;
  -webkit-transition: left 0.2s ease-in, right 0.2s ease-out;
  transition: left 0.2s ease-in, right 0.2s ease-out;
}
.admin-content-wrap input.ios7checkbox[type=checkbox]:checked + label .check:before {
  -webkit-transition: border-width 0.3s, border-color 0.1s;
  transition: border-width 0.3s, border-color 0.1s;
  border-width: 16px;
  border-color: #3acda0;
}
.admin-content-wrap input.ios7largecheckbox[type=checkbox] {
  display: none;
}
.admin-content-wrap input.ios7largecheckbox[type=checkbox] + label {
  color: white;
  line-height: 32px;
}
.admin-content-wrap input.ios7largecheckbox[type=checkbox] + label .check {
  margin-right: 13px;
  width: 60px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.admin-content-wrap input.ios7largecheckbox[type=checkbox] + label .check:before,
.admin-content-wrap input.ios7largecheckbox[type=checkbox] + label .check:after {
  box-sizing: border-box;
  content: "";
  display: block;
  height: 32px;
  position: absolute;
  left: 0;
}
.admin-content-wrap input.ios7largecheckbox[type=checkbox] + label .check:before {
  top: 0;
  border: 1px solid #3acda0;
  border-radius: 4px;
  background: #3acda0;
  width: 168px;
  -webkit-transition: border-width 0.2, border-color 0.1s ease 0.3s;
  transition: border-width 0.2, border-color 0.1s ease 0.3s;
  z-index: -1;
}
.admin-content-wrap input.ios7largecheckbox[type=checkbox] + label .check:after {
  top: 1px;
  background: #fafafa;
  border-radius: 4px;
  height: 30px;
  left: 1px;
  right: 16px;
  box-shadow: 0 2px 7px -2px rgba(0, 0, 0, 0.4), 1px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: right 0.2s ease-in, left 0.2s ease-out;
  transition: right 0.2s ease-in, left 0.2s ease-out;
}
.admin-content-wrap input.ios7largecheckbox[type=checkbox]:checked + label .check:after {
  left: 123px;
  right: -107px;
  -webkit-transition: left 0.2s ease-in, right 0.2s ease-out;
  transition: left 0.2s ease-in, right 0.2s ease-out;
}
.admin-content-wrap input.ios7largecheckbox[type=checkbox]:checked + label .check:before {
  -webkit-transition: border-width 0.2s, border-color 0.1s;
  transition: border-width 0.2s, border-color 0.1s;
  border-width: 16px;
  border-color: #3acda0;
}
.admin-content-wrap input.ios7largecheckbox[type=checkbox] + label .text {
  margin-left: 20px;
  -webkit-transition: right 0.2s ease-in, left 0.2s ease-out;
  transition: right 0.2s ease-in, left 0.2s ease-out;
}
.admin-content-wrap input.ios7largecheckbox[type=checkbox]:checked + label .text {
  margin-left: -20px;
  -webkit-transition: right 0.2s ease-in, left 0.2s ease-out;
  transition: right 0.2s ease-in, left 0.2s ease-out;
}
.admin-content-wrap .panel-primary {
  border: none;
}
.admin-content-wrap .panel-primary > .panel-heading {
  background-color: #4D4D48;
  border: none;
}
.admin-content-wrap .omw-admin-api-title {
  font-size: 2.3em;
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: center;
}
.admin-content-wrap .omw-admin-api-subtitle {
  margin-top: 25px;
  font-size: 1em;
  background-color: #333;
  padding: 20px;
  color: #fff;
}
.admin-content-wrap .omw-admin-api-subtitle span.omw-admin-api-type {
  background-color: #ebebeb;
  color: #4d4d4d;
  padding: 5px 10px;
  margin-right: 20px;
}
.admin-content-wrap .omw-admin-api-subtitle span.omw-admin-api-input {
  background-color: #3acda0;
  color: #fff;
  padding: 5px;
  margin-left: 5px;
}
.admin-content-wrap .omw-admin-api-description {
  font-size: 1em;
  margin-top: 10px;
}
.admin-content-wrap pre.omw-admin-api-json {
  border-radius: 0;
  padding: 20px;
  background-color: #ebebeb;
  color: #4d4d4d;
  margin-top: 10px;
  font-size: 1em;
}
.admin-content-wrap #showcase-image {
  position: relative;
  margin: 5px 0px;
  width: 100px;
  height: 100px;
  border: 0px;
  border-radius: 50px;
  background-size: 100% auto;
  background-position: center center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.admin-content-wrap #feature-image {
  position: relative;
  margin: 5px 0px;
  padding: 0px;
  width: 320px;
  height: 240px;
  border: 0px;
  background-size: 100% auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.admin-content-wrap #feature-header {
  position: absolute;
  margin: 0px;
  top: 0px;
  width: 100%;
  height: 40px;
  text-align: center;
  color: black;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 0px;
  text-transform: none;
  padding: 0px;
  line-height: 40px;
}
.admin-content-wrap #feature-mask {
  position: absolute;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 13px;
  background-image: url(/assets/images/basic/feature_mask.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0px;
}
/*Common*/
.omw-table-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  min-width: 1100px;
}
.omw-table-wrapper img {
  max-width: 320px;
}
.omw-table-wrapper .omw-admin-delete-btn {
  position: absolute;
  bottom: 0;
  display: inline-block;
  right: -25px;
}
.omw-briefing {
  max-width: 1200px;
  width: 1200px;
}
.omw-table-wrapper h1,
.omw-table-wrapper h2 {
  margin: 30px 0px 10px 0px;
}
.omw-table-wrapper > a {
  display: inline-block;
  margin: 10px 0;
  padding: 5px 10px;
  color: #4d4d4d;
  background-color: #ebebeb;
}
.omw-table-wrapper > a:hover {
  text-decoration: none;
  color: #ebebeb;
  background-color: #4d4d4d;
}
table {
  font-size: 0.8em;
  width: 100%;
}
table a {
  font-size: 1em;
  padding: 5px 10px;
  color: #4d4d4d;
  background-color: #1b1e47;
}
table a.nohover {
  color: inherit;
  background-color: inherit;
}
table a:hover {
  text-decoration: none;
}
table thead {
  color: #fff;
  background-color: #1b1e47;
}
table thead tr th {
  box-sizing: border-box;
  height: 40px;
  vertical-align: middle;
}
table tbody tr {
  height: 40px;
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #4d4d4d;
}
table tbody tr td {
  box-sizing: border-box;
  vertical-align: middle;
}
table tbody tr td form {
  text-align: right;
}
table tbody tr td form input[type='submit'] {
  width: auto !important;
  margin: 10px 0 !important;
  font-size: 1em !important;
  padding: 5px 10px !important;
  color: #4d4d4d !important;
  background-color: #ebebeb !important;
  border: none !important;
  text-transform: none !important;
}
table tbody tr:hover {
  background-color: #ebebeb;
}
table tbody tr:hover a,
table tbody tr:hover a:link {
  color: #ebebeb;
  background-color: #1b1e47;
}
table tbody tr:hover a:hover {
  background-color: #1cfcc9;
}
table tbody tr:hover a.nohover {
  color: inherit;
  background-color: inherit;
}
table tbody tr:hover input[type='submit'] {
  color: #ebebeb !important;
  background-color: #4d4d4d !important;
}
table tbody .fa {
  font-size: 1.5em;
}
#admin-content-aside {
  position: relative;
  width: 250px;
  height: 100%;
  float: left;
  padding-top: 70px;
  padding-left: 30px;
  background-color: #48434D;
  color: #BFBCC1;
}
#admin-content-aside nav {
  margin: 10px 0px 30px 0px;
}
#admin-content-aside nav .menu-list {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
#admin-content-aside nav ul li {
  display: block;
  margin: 0;
  min-width: 130px;
}
#admin-content-aside nav ul li a {
  display: block;
  padding: 2px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: #DCDBDD;
}
#admin-content-aside nav ul li a:hover,
#admin-content-aside nav ul li a:focus {
  outline: none;
}
#admin-content-aside nav.menu-shylock a {
  position: relative;
  margin: 1px 1em 1px;
  padding-right: 0;
  padding-left: 0;
  color: #DCDBDD;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  text-decoration: none;
  font-size: 0.7em;
}
#admin-content-aside nav.menu-shylock .menu__item--current a,
#admin-content-aside nav.menu-shylock .menu__item--current a:hover,
#admin-content-aside nav.menu-shylock .menu__item--current a:focus {
  color: #1cfcc9;
}
#admin-content-aside nav.menu-shylock .menu__item--current a::after,
#admin-content-aside nav.menu-shylock .menu__item--current a::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
#admin-content-aside nav.menu-shylock .menu__item--current a::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
#admin-content-aside nav.menu-shylock a:hover,
#admin-content-aside nav.menu-shylock a:focus {
  color: #1cfcc9;
}
#admin-content-aside nav.menu-shylock a:hover::before,
#admin-content-aside nav.menu-shylock a:focus::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
#admin-content-aside nav.menu-shylock a::before,
#admin-content-aside nav.menu-shylock a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: center left;
  transform-origin: center left;
  -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
#admin-content-aside nav.menu-shylock a::before {
  background: #1cfcc9;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
#admin-content-aside nav.menu-shylock a::after {
  background: #1cfcc9;
}
#omw-tools-content {
  position: relative;
  width: 80%;
  float: right;
}
#omw-tools-content .btn-tools {
  border: 0px;
  background-color: #1cfcc9;
  color: #000000;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 6px 10px;
  font-weight: bold;
  font-size: 12px;
  outline: none;
}
#omw-tools-content .btn-tools:active {
  border: 0px;
  background-color: #6F72E7;
  color: white;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 6px 10px;
  font-weight: bold;
  font-size: 12px;
  outline: none;
}
#omw-tools-content input[type='text']:focus,
#omw-tools-content input[type='password']:focus,
#omw-tools-content textarea:focus {
  border-color: #754485;
}

/*# sourceMappingURL=omw_admin.css.map */
