.omw-header {
    .omw-navigation {
        li {
            .adc-button {
                background-color: $purple-light50;
                border: 1px solid $purple-strong50;
                border-radius: 10px;
                padding: 6px 15px;
            }

            .adc-green-btn {
                &,
                &:active,
                &:link,
                &:visited,
                &:hover,
                &::selection {
                    background-color: $infinite-sea;
                    border-radius: 3px;
                    color: $deep-space;
                    cursor: pointer;
                    font-size: .8em;
                    outline: 0;
                    padding: 8px 25px;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }
}


.adc-green-btn {
    &,
    &:active,
    &:link,
    &:visited,
    &:hover,
    &::selection {
        background-color: $infinite-sea;
        border-radius: 3px;
        color: $deep-space;
        cursor: pointer;
        font-size: .8em;
        outline: 0;
        padding: 8px 25px;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.table-admin {

    a {
        &.adc-green-btn {
            display: block;
            padding: 4px 30px;
            text-align: center;
            width: 100%;
        }
    }
}

input {

    &[type='submit'] {
        background-color: $infinite-sea;
        border: 0;
        color: $deep-space;
        cursor: pointer;
        display: inline-block;
        font-size: .8em;
        margin: 0;
        outline: 0;
        padding: 6px 20px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
}

button {
    &,
    &.adc-green-btn {
        &,
        &:active,
        &:link,
        &:visited,
        &:hover,
        &::selection {
            background-color: $infinite-sea;
            border: 0;
            color: $deep-space;
            cursor: pointer;
            display: inline-block;
            font-size: .8em;
            margin: 0;
            outline: 0;
            padding: 6px 20px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.omw-admin-btn {
    &,
    &:active,
    &:link,
    &:visited,
    &::selection {
        background: $white;
        border: 1px solid $box-shadow50;
        color: $box-shadow50;
        cursor: pointer;
        display: inline-block;
        font-size: .8em;
        margin: 25px 25px 25px 0;
        padding: 10px 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 180px;
    }

    &:hover {
        background: $box-shadow10;
        box-shadow: inset 0 1px 2px $box-shadow50;
        color: $moon;
    }
}

.omw-admin-btn-small {
    &,
    &:link,
    &:visited,
    &::selection {
        background: transparent;
        border: 0;
        color: $moon;
        cursor: pointer;
        display: inline-block;
        float: right;
        font-size: .5em;
        margin-top: 35px;
        padding: 10px 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 130px;
    }

    &:hover {
        background: $light-grey;
        color: $moon;
    }

    &:active {
        background: $light-grey;
        color: $moon;
    }
}

// IOS7 Large Checkbox
input.ios7largecheckbox[type=checkbox] {
    display: none;
}

input.ios7largecheckbox[type=checkbox] + label {
    color: $white;
    line-height: 32px;
}

input.ios7largecheckbox[type=checkbox] + label .check {
    display: inline-block;
    margin-right: 13px;
    position: relative;
    vertical-align: top;
    width: 60px;
}

input.ios7largecheckbox[type=checkbox] + label .check:before,
input.ios7largecheckbox[type=checkbox] + label .check:after {
    box-sizing: border-box;
    content: '';
    display: block;
    height: 32px;
    left: 0;
    position: absolute;
}

input.ios7largecheckbox[type=checkbox] + label .check:before {
    background: #3acda0;
    border: 1px solid #3acda0;
    border-radius: 4px;
    top: 0;
    transition: border-width .2, border-color .1s ease .3s;
    width: 168px;
    z-index: -1;
}

input.ios7largecheckbox[type=checkbox] + label .check:after {
    background: #fafafa;
    border-radius: 4px;
    box-shadow: 0 2px 7px -2px rgba(0, 0, 0, .4), 1px 2px 1px rgba(0, 0, 0, .2);
    height: 30px;
    left: 1px;
    right: 16px;
    top: 1px;
    transition: right .2s ease-in, left .2s ease-out;
}

input.ios7largecheckbox[type=checkbox]:checked + label .check:after {
    left: 123px;
    right: -107px;
    transition: left .2s ease-in, right .2s ease-out;
}

input.ios7largecheckbox[type=checkbox]:checked + label .check:before {
    background: #3acda0;
    border-color: #3acda0;
    border-width: 16px;
    transition: border-width .2s, border-color .1s;
}

input.ios7largecheckbox[type=checkbox] + label .text {
    margin-left: 20px;
    transition: right .2s ease-in, left .2s ease-out;
}

input.ios7largecheckbox[type=checkbox]:checked + label .text {
    margin-left: -20px;
    transition: right .2s ease-in, left .2s ease-out;
}
