$launch:           #197ce0;
$outer-space:      #123e7d;
$deep-space:       #040548;
$stardust:         #e51e99;
$clockwork-orange: #ff640a;
$dreamscape:       #45becf;
$infinite-sea:     #36fbd0;
$dusk:             #7c5bbb;
$dark-side:        #370044;
$moon:             #5a5a5a;
$light-grey:       #f3f4f6;
$black:            #000;
$white:            #fff;
$sample-wrap:      #1b1e47;


// OLD
$purple-strong50: #211837;
$purple-strong30: #3b2b51;
$purple-medium:   #754485;
$purple-light50:  #6f72e7;
$purple-light30:  #ab9cfb;
$grey-strong50:   #2e2c30;
$grey-strong30:   #48434d;
$grey-light50:    #bfbcc1;
$grey-light30:    #dcdbdd;

// AD COLONY color palette
$dark-navy50:   #1b1e47;
$light-cyan50:  #1cfcc9;
$white:         #fff;
$black:         #000;


// Utils Color
$light-grey70: rgba(255, 255, 255, .7);
$dark-grey40: rgba(0, 0, 0, .4);
$box-shadow50: rgba(0, 0, 0, .5);
$box-shadow10: rgba(0, 0, 0, .1);
$light-dark: #333;
$clear: rgba(0, 0, 0, 0);
$stardust10: rgba(229, 31, 153, .1);
$table-odd-row: #f1f2f4;
$light-infinite-sea: #ddfbf5;
$light-outer-space: #cee3f8;

$disable-option: #eaeef3;
$disable-option-text: #b6bfcf;
