.datepicker-wrapper {
    position: relative;
    width: 100%;

    input {
        &[type='text'],
        &[type='date'] {
            border: 1px solid $outer-space;
            font-size: .7em;
            height: 36px;
            padding-left: 7px;
            width: 100%;

            &:focus,
            &:active {
                border: 1px solid $infinite-sea;
                box-shadow: none;
            }
        }
    }

    .picker {
        margin-top: 5px;
        z-index: 10;

        .picker__holder {
            border-radius: 0;
            max-width: inherit;
            overflow: hidden;

            .picker__frame {
                padding: 0;
            }
        }
    }

    .picker__box {
        padding: 0;
    }

    .picker__header {
        background-color: $outer-space;
        color: $white;
        font-family: Arial;
        font-size: .9em;
        font-weight: normal;
        margin: 0;
        padding: 10px 0;
        text-transform: uppercase;

        .picker__month,
        .picker__year {
            color: $white;
            font-size: .9em;
            font-style: normal;
            font-weight: normal;
            text-transform: uppercase;
        }

        .picker__nav--next {
            right: 0;

            &:before {
                border-left: .75em solid $infinite-sea;
                border-right: 0;
            }

            &:hover {
                background: transparent;
            }
        }

        .picker__nav--prev {
            left: 0;

            &:before {
                border-right: .75em solid $infinite-sea;
            }

            &:hover {
                background: transparent;
            }
        }
    }

    .picker__table {
        margin: 0;
        padding: 0;

        thead {
            background-color: $deep-space;

            .picker__weekday {
                color: $white;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .picker--focused {
            .picker__day--selected {
                background: $infinite-sea;
                color: $deep-space;
            }

            .picker__day--highlighted,
            .picker__day--infocus,
            .picker__day--out {
                &,
                &:hover {
                    background: $light-outer-space;
                    color: $deep-space;
                }
            }
        }

        .picker__day--selected {
            &,
            &:hover {
                background: $infinite-sea;
                color: $deep-space;
            }
        }
    }

    .picker__button--today,
    .picker__button--clear,
    .picker__button--close {
        background-color: $infinite-sea;
        border: 0;
        border-bottom-color: transparent;
        border-radius: 3px;
        color: $deep-space;
        cursor: pointer;
        font-size: .8em;
        margin: 5px;
        outline: 0;
        padding: 6px 25px;
        text-decoration: none;
        text-transform: uppercase;
        width: 30%;

        &:hover,
        &:focus, {
            background-color: $infinite-sea;
            border: 0;
            border-bottom-color: transparent;
            outline: 0;
        }
    }

    .picker__button--today:before {
        border-top: .66em solid $outer-space;
    }

    .picker__button--clear:before {
        border-top: 3px solid $outer-space;
    }

    .picker__button--close:before {
        color: $outer-space;
        top: -.05em;
    }

    .select-arrow-zone {
        background-color: $outer-space;
        cursor: pointer;
        display: table-cell;
        height: 35px;
        padding-right: 0;
        padding-top: 11px;
        position: absolute;
        right: 0;
        top: 0;
        vertical-align: middle;
        width: 35px;

        .select-arrow {
            border-color: $infinite-sea transparent transparent;
            border-style: solid;
            border-width: 13px 9px 2.5px;
            display: inline-block;
            height: 0;
            margin-left: 9px;
            position: relative;
            width: 0;

            &.open {
                border-color: transparent transparent $infinite-sea;
                border-width: 0 9px 15px;
                top: -1px;
            }
        }
    }
}

@media (min-width: 24.5em) {
    .picker__nav--next,
    .picker__nav--prev {
        top: .2em;
    }
}
