@font-face {
    font-family: 'proxima-nova-regular';
    font-style: normal;
    font-weight: normal;
    src: url('../../assets/fonts/proxima-nova/proxima-nova-regular.woff2') format('woff2'),
    url('../../assets/fonts/proxima-nova/proxima-nova-regular.woff')  format('woff');
}

@font-face {
    font-family: 'proxima-nova-light';
    font-style: normal;
    font-weight: normal;
    src: url('../../assets/fonts/proxima-nova/proxima-nova-light.woff2') format('woff2'),
    url('../../assets/fonts/proxima-nova/proxima-nova-light.woff')  format('woff');
}

@font-face {
    font-family: 'proxima-nova-bold';
    font-style: normal;
    font-weight: normal;
    src: url('../../assets/fonts/proxima-nova/proxima-nova-bold.woff2') format('woff2'),
    url('../../assets/fonts/proxima-nova/proxima-nova-bold.woff')  format('woff');
}

*,
body {
    font-family: 'Arial';
    font-weight: normal;
    letter-spacing: .5px;
    line-height: 20px;
}

.omw-hero-text {
    font-family: 'proxima-nova-light';
}

.adc-green-btn {
    font-weight: bold;
}
