.full-footer {
    color: $white;
}

footer {
    &.content-info {
        background-color: $deep-space;
        color: $white;
        padding: 0 30px 40px;
        text-align: center;

        @media (min-width: 992px) {
            padding: 60px 30px 40px;
            text-align: inherit;
        }

        .bottom-line {
            padding-top: 0;
        }

        .footer-center-section {
            margin: auto;
            max-width: 500px;
            text-align: center;

            .nav {
                column-gap: 30px;
                column-width: 110px;
                text-align: left;

                .menu-item>a {
                    color: $white;
                }
            }
        }

        .footer-left-section {
            .social-icons {
                .fb-icon {
                    background: url('../../assets/images/basic-adc/icon-facebook@2x.png') no-repeat 0 0;
                    background-size: 30px 30px;
                }

                .tw-icon {
                    background: url('../../assets/images/basic-adc/icon-twitter@2x.png') no-repeat 0 0;
                    background-size: 30px 30px;
                }

                .in-icon {
                    background: url('../../assets/images/basic-adc/icon-linkedin@2x.png') no-repeat 0 0;
                    background-size: 30px 30px;
                }

                .intg-icon {
                    background: url('../../assets/images/basic-adc/icon-instagram@2x.png') no-repeat 0 0;
                    background-size: 30px 30px;
                }

                .icons {
                    height: 30px;
                    width: 30px;
                }

                a {
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }


    }

    .footer-title {
        color: $infinite-sea;
        font-size: .9em;
        padding: 15px 0 25px;
        text-transform: uppercase;
    }

    .footer-message {
        color: $white;
        font-size: .9em;
    }

    .footer-copyright {
        bottom: 0;
        font-size: .7em;
        padding: 10px;
        position: relative;
        right: 0;
        text-align: right;
    }

    .footer-lang {
        text-align: right;

        a {
            cursor: pointer;
        }
    }

    .footer-logo {
        background: transparent url('../../assets/images/basic-adc/adcolony-logo-white.png') center left no-repeat;
        background-size: auto 100%;
        display: block;
        height: 40px;
        margin-top: 10px;
        position: relative;
        width: 100%;
    }

}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.nav {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.social-icons {
    margin-top: 20px;
}
