// Header
.omw-header {
    height: 70px;
    position: fixed;
    top: 0;
    transition-duration: 200ms;
    width: 100%;
    z-index: 10;

    .company-logo {
        background: transparent url('../../assets/images/basic-adc/adcolony-logo-white.png') center center no-repeat;
        background-size: 100% auto;
        cursor: pointer;
        height: 70px;
        left: 30px;
        position: absolute;
        width: 120px;

        @media (max-width: 479px) {
            background-size: 80% auto;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .omw-navigation {
        position: absolute;
        right: 30px;
        text-align: right;

        li {
            color: $white;
            display: inline-block;
            height: 80px;
            line-height: 80px;
            margin-right: 10px;

            @media (max-width: 479px) {
                display: none;
            }

            a {
                color: $white;
                cursor: pointer;
                font-size: .8em;
                padding: 10px 15px;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    background: $box-shadow10;
                    box-shadow: inset 0 1px 2px $box-shadow10;
                }

                &.omw-border {
                    border: 1px solid $white;
                }

                &.active {
                    background: $box-shadow10;
                    box-shadow: inset 0 1px 2px $box-shadow10;
                }
            }
        }

        #auth-logout-btn3 {
            width: 115px;
        }
        
        @media (max-width: 1174px) {
            li {
                &:nth-child(n+3) {
                    display: none;
                }
            }
        }
    }

    &.omw-inverse {
        background-color: $deep-space;
        z-index: 20;

        .company-logo {
            background-image: url('../../assets/images/basic-adc/adcolony-logo-white.png');

            @media (max-width: 479px) {
                background-size: 80% auto;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        li {
            color: $white;

            a {
                color: $white;

                &.omw-border {
                    border: 1px solid $light-dark;
                }
            }

            &.active {
                background: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88.98 41.99"><defs><style>.cls-1{fill:#123e7d;fill-rule:evenodd;}</style></defs><title>arrow</title><path class="cls-1" d="M1251,885.5h89l-44.49-42" transform="translate(-1251.01 -843.5)"/></svg>') center 58px  no-repeat;
                background-size:  auto 15px;

                a {
                    color: $infinite-sea;
                }
            }
        }
    }
}

.omw-header-hide {
    transform: translateY(-100%);
}

// Admin Header
.omw-admin-header {
    background-color: $outer-space;
    border-bottom: 6px solid $infinite-sea;
    height: 50px;
    min-width: 930px;
    position: fixed;
    top: 70px;
    transition-duration: 200ms;
    width: 100%;
    z-index: 30;

    .omw-admin-navigation {
        bottom: 0;
        position: absolute;
        right: 30px;
        text-align: center;

        li {
            border-radius: 3px 3px 0 0;
            color: $white;
            display: inline-block;
            height: 35px;
            line-height: 40px;
            margin: 0 10px;
            padding: 0 15px;

            .omw-admin-dropdown-menu {
                background-color: $launch;

                box-shadow: 0 3px 5px 0 $box-shadow50;
                display: none;
                margin-left: -50px;
                min-width: 160px;
                position: absolute;
                transition-duration: 200ms;
                transition-timing-function: cubic-bezier(.61, .14, .5, 1.4);
                z-index: 1000;

                li {
                    display: block;
                    margin: 0;

                    a {
                        color: $white;
                        display: block;
                        font-size: .7em;
                        text-align: center;

                        &:hover {
                            color: $outer-space;
                        }
					}

                    &:hover {
                        background-color: $infinite-sea;
                    }

				}
			}

            a {
                color: $white;
                cursor: pointer;
                display: block;
                font-size: .7em;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;

                .fa-caret-down {
                    padding-left: 10px;
			    }
			}

            &.open {
                .omw-admin-dropdown-menu {
                    display: block;
        		}
            }

            &:hover {
                background-color: $launch;

                a {
                    color: $white;
                }
    		}

            &.omw-admin-navigation-active {
                background-color: $infinite-sea;
                box-shadow: none;

                a {
                    color: $outer-space;
    			}

                &:hover {
                    background-color: $infinite-sea;
                    box-shadow: none;
                    color: $outer-space;
        		}
    		}


		}
	}
}
