@import 'reset';
@import 'color';
@import 'font';
@import 'header';
@import 'footer';
@import 'button';
@import 'select';
@import 'datepicker';
@import 'toggle';


// ***** Global *****
body {
    background-color: $deep-space;
    min-height: 500px;
    padding-top: 70px;
}


// Headings
h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em;   }
h6 { font-size: 1em;  }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 1.2em;
    margin: 1em 0 .5em;
    text-transform: uppercase;
}


// Anchors
a {
    color: $white;
    outline: 0;

    &:link,
    &:visited {
        color: $white;
    }

    &:hover,
    &:active {
        color: $infinite-sea;
    }

    img {
        border: 0;
        text-decoration: none;
    }

    .create-campaign {
        text-decoration: none;
        top: 17px;

        span {
            padding-left: 5px;
        }

    }

    .edit-campaign {
        background-position-y: 5px;
        text-decoration: none;

        span {
            padding-left: 5px;

        }
    }
}

// Paragraphs
p {
    margin-bottom: 1.143em;

    :last-child {
        margin-bottom: 0;
    }
}

strong,
b {
    font-weight: bold;
}

em,
i {
    font-style: italic;
}

::selection {
    background: $infinite-sea;
    color: $white;
}

// Lists
ol {
    list-style: outside decimal;
    margin: 1em 0 1.5em 1.5em;
}
dl { margin: 0 0 1.5em; }
dt { font-weight: bold; }
dd { margin-left: 1.5em; }

// Quotes
blockquote { font-style: italic; }

// Tables
table {
    margin: .5em auto 1.5em;
    vertical-align: middle;
    width: 98%;

    thead {
        th {
            padding: .5em .4em;
            text-align: left;
        }
    }

    tbody {
        td {
            padding: .5em .4em;
        }
    }
}

.noselect {
    -webkit-touch-callout: none;

    // -webkit-user-select: none;
    // -khtml-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    user-select: none;
}

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

.form-campaign {
    margin: 0 auto;
    max-width: 600px;
    padding: 15px;
}

.form-control-half {
    background-color: $white;
    background-image: none;
    border: 1px solid $light-grey;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px $box-shadow10;
    color: $moon;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857143;
    margin-bottom: 5px;
    padding: 6px 12px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 50%;
}

.form-control {
    margin-bottom: 5px;
}

.jumbotron {
    p {
        font-size: 14px;
    }
}

label {
    .regular-label {
        font-weight: 300;
    }
}

.bs-callout {
    border: 1px solid $white;
    border-left-width: 5px;
    border-radius: 3px;
    margin: 20px 0;
    padding: 0 20px;
}

.bs-callout-info {
    border-left-color: $dreamscape;
}

.checkmark {
    background-image: url('../../assets/images/basic/checkmark-icon.png');
    background-size: cover;
    height: 22px;
    margin-left: 10px;
    position: relative;
    width: 20px;
}

.alert-danger {
    background-color: $stardust10;
    border-color: $stardust;
    color: $stardust;
    font-size: .8em;
}

.clear {
    clear: both;
}
