.Select-control {
    font-size: .7em;
    border-radius: 0;
    border: 1px solid #123e7d;
    outline: 0;
}

.Select-menu-outer {
    font-size: .7em;
    border: 1px solid #36fbd0;

    outline: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
}

.Select--multi .Select-value {
    color: #123e7d;
    background-color: #ddfbf5;
}

.Select--multi.is-focused {
    outline: 0;
    border: 1px solid #36fbd0;
    border: 0;
}

.is-focused:not(.is-open) > .Select-control {
    border: 0;
    box-shadow: none;
    border: 1px solid #36fbd0;
}
.Select-arrow-zone {
    background-color: #123e7d;
    width: 35px;
    padding-right: 0px;
    padding-top: 7px;
}
.Select-arrow {
    border-color: #36fbd0 transparent transparent;
    border-width: 13px 9px 2.5px;
}

.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {

    border-color: #36fbd0 transparent transparent;
    /*border-width: 13px 9px 2.5px;*/
}

.is-open > .Select-control {
    border: 1px solid #36fbd0;
}

.Select-control:hover {
    box-shadow: none;
}

.is-open > .Select-control .Select-arrow {
    border-color: transparent transparent #36fbd0;
    border-width: 0px 9px 13px;
}

.Select--multi .Select-clear-zone,
.Select-clear-zone {
    width: 27px;
    padding-top: 6px;
}

.Select-clear-zone:hover {
    color: #36fbd0;
}

.Select-option.is-selected {
    background-color: #ddfbf5;
}

.Select-option.is-focused {
    background-color: #ddfbf5;
}
