.react-toggle {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    position: relative;
    user-select: none;

    .react-toggle-track {
        // background-color: $infinite-sea;
        background-color: $disable-option;
        color: $disable-option-text;
        border: 1px solid $outer-space;
        border-radius: 0px;
        height: 35px;
        padding: 0;
        transition: all .2s ease;
        width: 150px;

        .react-toggle-track-check {
            span {
                position: absolute;
                top: 6px;
                font-size: .8em;
                font-weight: bold;
                left: 8px;
                text-transform: uppercase;
                //color: #123e7d;
                width: 45px;
                text-align: center;
            }
        }

        .react-toggle-track-x {
            span {
                position: absolute;
                top: 6px;
                font-size: .8em;
                font-weight: bold;
                right: 8px;
                text-transform: uppercase;
                //color: #123e7d;
                width: 45px;
                text-align: center;
            }
        }

    }
}

.react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.react-toggle--disabled {
    cursor: not-allowed;
    opacity: .5;
    transition: opacity .25s;
}



.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    // background-color: $infinite-sea;
}

.react-toggle--checked .react-toggle-track {
    //background-color: $infinite-sea;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    //background-color: $infinite-sea;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}


.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 75px;
  height: 31px;
  border: 1px solid $outer-space;
  border-radius: 0px;
  background-color: $outer-space;
  color: $infinite-sea;
  text-transform: uppercase;
  text-align: center;
  font-size: .8em;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  box-shadow: 1px 2px 1px $dark-grey40;
  padding-top: 5px;
}

.react-toggle--checked {

    .react-toggle-track-check {
        opacity: 1;
        transition: opacity .25s ease;
    }

    .react-toggle-track-x {
        opacity: 0;
    }

    .react-toggle-thumb {
        //border-color: $infinite-sea;
        left: 73px;
    }
}
