#admin-content-wrap-inner {
    margin: 0 auto;
    max-width: 1600px;
    padding: 70px 50px;

    .col {
        padding: 0 20px;

        &.col-right {
            padding-top: 76px;
        }
    }

    .admin-utils-top-right {
        display: inline-block;
        float: right;
        line-height: 1.2em;
        margin: 40px 0 0;
    }

    .briefing-label-title {
        font-size: 1.2em;
        font-weight: bold;
        line-height: 2em;
        margin-top: 40px;
        text-transform: uppercase;
    }

    .briefing-label-subtitle {
        font-size: .9em;
        height: 34px;
        line-height: .9em;
    }

    h5,
    h6 {
        span {
            font-size: .8em;
            font-weight: normal;
            text-transform: initial;

            &.required-star {
                color: $stardust;
                font-size: 3em;
                line-height: 10px;
                position: relative;
                top: 15px;
            }
        }
    }

    .white {
        color: $white;
    }

    .pink {
        color: $stardust;
    }

    input {
        &[type=text] {
            border: 1px solid $outer-space;
            border-radius: 0;
            font-size: .7em;

            &:focus,
            &.picker__input--active {
                border: 1px solid $infinite-sea;
                border-radius: 0;
                box-shadow: none;
            }
        }

        &[type='submit'] {
            &.admin-btn {
                background-color: $infinite-sea;
                border: 0;
                border-radius: 3px;
                color: $deep-space;
                cursor: pointer;
                font-size: .9em;
                font-weight: bold;
                height: 45px;
                line-height: 45px;
                margin: 5px 0;
                padding: 0;
                text-transform: uppercase;
                width: 100%;

                &:hover {
                    box-shadow: none;
                }
            }
        }
    }

    .picker {
        z-index: 10;
    }

    select {
        border: 1px solid $outer-space;
        border-radius: 0;
    }

    .styled-select {
        background: url('../../assets/images/basic-adc/icon-select.png') right top no-repeat;
        background-size: auto 100%;
        height: 34px;
        margin: 10px auto;
        overflow: hidden;
        width: 100%;

        select {
            background: transparent;
            border: 1px solid $outer-space;
            color: $moon;
            font-size: .7em;
            height: 34px;
            margin: 0;
            outline: 0;
            padding: 0 0 0 7px;
            text-shadow: 0 0 0 $black;
            width: 115%;

            &:focus {
                border: 1px solid $infinite-sea;
            }
		}
    }

    .vertical-text-area {
        border: 1px solid $outer-space;
        font-size: .7em;
        height: 900px;
        outline: 0;
        width: 100%;

        &:focus {
            border: 1px solid $infinite-sea;
        }
    }

    .admin-checkbox-item {
        float: left;
        height: 60px;
        position: relative;
        width: 150px;

        input {
            margin: 0;
            &[type=checkbox] {
                &:checked {
                    & + label {
                        background: $outer-space;

                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        label {
            background: $white;
            border: 1px solid $outer-space;
            cursor: pointer;
            height: 20px;
            left: 0;
            position: absolute;
            top: 0;
            width: 22px;

            &:hover {

                &::after {

                    opacity: 0;
                }
            }

            &:after {
                background: transparent;
                border: 3px solid $infinite-sea;
                border-right: 0;
                border-top: 0;
                content: '';
                height: 5px;
                left: 5px;
                opacity: .1;
                position: absolute;
                top: 6px;
                transform: rotate(-45deg);
                width: 9px;
            }

            span {
                display: block;
                font-size: .7em;
                left: 30px;
                position: absolute;
                top: 0;
                width: 110px;
            }
        }
    }

    .admin-checkbox-item-other {
        width: 300px;

        input {
            &[type=text] {
                left: 80px;
                position: absolute;
                top: -15px;
                width: 210px;
            }
        }
    }
};
