@import '../general/master';
@import './briefing';

// Content
#admin-content-wrap {
    background-color: $white;
    height: auto;
    min-height: 700px;
    position: relative;
    width: 100%;

    input {

        [type='text'],
        [type='password'],
        [type='checkbox'] {
            border-color: $moon;
            border-radius: 0;
            color: $moon;
            height: auto;
            margin: 10px 0;
            padding: 10px;

            &:focus {
                border-color: $infinite-sea;
                box-shadow: none;
            }
        }

        [type='checkbox'] {
            margin-right: 5px;
        }

        &.ios7checkbox {
            [type=checkbox] {
                display: none;

                &:checked {
                    & + label {
                        & .check {
                            &:after {
                                left: 17px;
                                right: 1px;
                                transition: left .2s ease-in, right .2s ease-out;
                            }

                            &:before {
                                border-color: $infinite-sea;
                                border-width: 16px;
                                transition: border-width .3s, border-color .1s;
                            }
                        }
                    }
                }

                & + label {
                    & .check {
                        display: inline-block;
                        margin-right: 8px;
                        position: relative;
                        vertical-align: top;
                        width: 48px;

                        &:before,
                        &:after {
                            box-sizing: border-box;
                            content: '';
                            display: block;
                            height: 32px;
                            left: 0;
                            position: absolute;
                        }

                        &:before {
                            background: $light-grey;
                            border: 1px solid $light-grey;
                            border-radius: 18px;
                            top: 0;
                            transition: border-width .3s, border-color .1s ease .3s;
                            width: 48px;
                        }

                        &:after {
                            background: $light-grey;
                            border-radius: 50%;
                            box-shadow: 0 2px 7px -2px $box-shadow50, 1px 2px 1px $box-shadow10;
                            height: 30px;
                            left: 1px;
                            right: 17px;
                            top: 1px;
                            transition: right .2s ease-in, left .2s ease-out;
                        }
                    }
                }
            }
        }
    }

    textarea,
    select {
        border-color: $moon;
        border-radius: 0;
        color: $moon;
        height: auto;
        margin: 10px 0;
        padding: 10px;

        &:focus {
            border-color: $infinite-sea;
            box-shadow: none;
        }
    }

    .omw-tabs {
        display: block;
        margin: 0;

        li {
            display: inline-block;
            margin-right: -4px;
            margin-top: -4px;
            padding: 10px 15px;

            a {
                color: $moon;
                text-decoration: none;
			}

            :hover {
                background-color: $light-grey;
    		}

            .active {
                background-color: $moon;

                a {
                    color: $white;
                }
    		}
		}
	}

    label {
        color: $moon;
        display: block;
        font-size: 1em;
        font-weight: 100;
        margin: 0;
        padding: 20px 0 0;
        width: 100%;
	}

    .form-control {
        &[readonly] {
            background-color: transparent;
        }
    }

    .form-control-date {
        width: 467px;
	}

    .omw-admin-checkbox {
        label {
            &:first-child {
                font-weight: bold;
            }
        }

        .omw-admin-checkbox-item {
            padding-right: 20px;

            label {
                display: inline-block;
                width: auto;
            }

            .input-other {
                display: inline-block;
                margin-left: 15px;
                width: 135px;
            }
        }
    }

    .omw-admin-dates {
        margin: 0;
        padding: 0;

        input {
            width: 90%;
        }
    }

    .omw-admin-format-feature {
        display: inline-block;
        padding-right: 20px;

        label {
            display: inline-block;
            width: auto;
		}
	}

    .omw-admin-format-image {
        border: 1px solid $moon;
        display: inline-block;
        margin: 10px 10px 10px 0;
        padding: 10px;
        position: relative;

        a {
            color: $light-dark;
		}

        > div {
            background: $white;
            border: 1px solid $light-dark;
            color: $light-dark;
            cursor: pointer;
            font-size: 1em;
            margin: 25px auto;
            padding: 10px 0;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            width: 180px;
		}
	}



    .panel-primary {
        border: 0;
	}

    .panel-primary>.panel-heading {
        background-color: $moon;
        border: 0;
	}

    // API
    .omw-admin-api-title {
        font-size: 2.3em;
        margin-bottom: 20px;
        margin-top: 25px;
        text-align: center;
	}

    .omw-admin-api-subtitle {
        color: $white;
        font-size: 1em;

        span {
            &.omw-admin-api-type {
                background-color: $light-grey;
                color: $moon;
                margin-right: 20px;
                padding: 5px 10px;
    		}

            &.omw-admin-api-input {
                background-color: $infinite-sea;
                color: $white;
                margin-left: 5px;
                padding: 5px;
    		}
        }
	}

    .omw-admin-api-description {
        font-size: 1em;
        margin-top: 10px;
	}

    pre {
        &.omw-admin-api-json {
            background-color: $white;
            color: $moon;
            font-size: 1em;
    	}
    }

    #showcase-image {
        background-position: center center;
        background-size: 100% auto;
        border: 0;
        border-radius: 50px;
        height: 100px;
        margin: 5px 0;
        position: relative;
        transition: all .4s ease-in-out;
        width: 100px;
	}

    #feature-image {
        background-size: 100% auto;
        border: 0;
        height: 240px;
        margin: 5px 0;
        padding: 0;
        position: relative;
        transition: all .4s ease-in-out;
        width: 320px;
	}

    #feature-header {
        background-color: $light-grey70;
        border: 0;
        color: $black;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        margin: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        text-transform: none;
        top: 0;
        width: 100%;
	}

    #feature-mask {
        background-color: transparent;
        background-image: url('/assets/images/basic/feature_mask.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        border: 0;
        bottom: 0;
        height: 13px;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
	}
}

// Common
.omw-table-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1100px;
    padding: 100px 0;
    position: relative;

    img {
        max-width: 320px;
    }

    > a {
        background-color: $light-grey;
        color: $moon;
        display: inline-block;
        margin: 10px 0;
        padding: 5px 10px;

        &:hover {
            background-color: $moon;
            color: $light-grey;
            text-decoration: none;
        }
    }

    .omw-admin-delete-btn {
        bottom: 0;
        display: inline-block;
        position: absolute;
        right: -25px;
    }
}

.omw-briefing {
    max-width: 1200px;
    width: 1200px;

}

.table-admin {
    width: 100%;

    thead {
        background-color: $outer-space;
        color: $white;
        text-transform: uppercase;

        tr {
            border-top: 2px solid $white;

            th {
                border-right: 2px solid $white;
                box-sizing: border-box;
                font-size: .8em;
                height: 40px;
                padding: 10px 15px;
                vertical-align: middle;
			}
		}
	}

    tfoot {
        border-bottom: 2px solid $table-odd-row;

        tr {
            td {
                border-top: 0;
                padding: 0;
            }
        }
    }

    tbody {
        tr {
            height: 30px;

            &:nth-of-type(odd) {
                background-color: $table-odd-row;
            }

            td {
                border-right: 2px solid $white;
                border-top: 0;
                box-sizing: border-box;
                font-size: .8em;
                padding: 10px 15px;
                vertical-align: middle;
			}
		}

        .fa {
            font-size: 1.5em;
		}
	}
}

#admin-content-aside  {
    background-color: $grey-strong30;
    color: $grey-light50;
    float: left;
    height: 100%;
    padding-left: 30px;
    padding-top: 70px;
    position: relative;
    width: 250px;

    nav {
        margin: 10px 0 30px;

        .menu-list {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
            position: relative;
        }

        ul {
            li {
                display: block;
                margin: 0;
                min-width: 130px;

                a {
                    -webkit-tap-highlight-color: $grey-light30;
                    -webkit-touch-callout: none;
                    cursor: pointer;
                    display: block;
                    padding: 2px;
                    user-select: none;

                    &:hover,
                    &:focus {
                        outline: none;
                    }
                }
            }
        }



        .menu-shylock {
            a {
                color: $grey-light30;
                font-size: .7em;
                margin: 1px 1em;
                padding-left: 0;
                padding-right: 0;
                position: relative;
                text-decoration: none;
                transition: color .4s;

                &::before,
                &::after {
                    bottom: 0;
                    content: '';
                    height: 3px;
                    left: 0;
                    position: absolute;
                    transform: scale3d(0, 1, 1);
                    transform-origin: center left;
                    transition: transform .4s cubic-bezier(.22, .61, .36, 1);
                    width: 100%;
                }

                &::before {
                    background: $light-cyan50;
                    transition-delay: .4s;
                }

                &::after {
                    background: $light-cyan50;
                }

                &:hover,
                &:focus {
                    color: $light-cyan50;

                    ::before {
                        transform: scale3d(1, 1, 1);
                        transition-delay: 0s;
                    }
                }
            }

            .menu__item--current {
                a {
                    &,
                    &:hover,
                    &:focus {
                        color: $light-cyan50;
                    }

                    &::after,
                    &::before {
                        transform: scale3d(1, 1, 1);
                    }

                    &::before {
                        transition-delay: 0s;
                    }
                }
            }
        }
    }
}

#omw-tools-content {
    float: right;
    position: relative;
    width: 80%;

    .btn-tools {
        background-color: $light-cyan50;
        border: 0;
        border-radius: 2px;
        color: $black;
        font-size: 12px;
        font-weight: bold;
        outline: none;
        padding: 6px 10px;
        text-transform: uppercase;

        &:active {
            background-color: $dusk;
            border: 0;
            border-radius: 2px;
            color: $white;
            font-size: 12px;
            font-weight: bold;
            outline: none;
            padding: 6px 10px;
            text-transform: uppercase;
        }
    }
}
