.auth-login {
    font-size: .9em;
    height: 400px;
    left: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;

    .auth-login-title {
        font-size: 1.7em;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
    }

    label {
        font-size: .8em;
        font-weight: bold;
        margin-top: 15px;
        text-transform: uppercase;
    }

    input {
        &[type=email],
        &[type=password] {
            font-size: .8em;
        }

        &[type=submit] {
            background-color: $infinite-sea;
            border: 0;
            border-radius: 3px;
            color: $deep-space;
            cursor: pointer;
            font-size: 1em;
            font-weight: bold;
            margin: 20px 0;
            padding: 8px 25px;
            text-transform: uppercase;
            width: 100%;
        }
    }

    .auth-line {
        border-top: 1px solid $moon;
        height: 50px;
        margin: 10px 0;
        position: relative;
        width: 100%;
    }

    .auth-or {
        background-color: $white;
        font-size: .9em;
        height: 20px;
        left: 50%;
        line-height: 20px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        top: -10px;
        transform: translate(-50%, 0);
        width: 40px;
    }
}
