@import '../general/master';
@import 'devices';
@import 'public.login';

html,
body {
    overflow-x: hidden;
}

// Auth Login
.omw-auth-login {
    margin: 200px auto;
    max-width: 400px;

    .omw-auth-login-title {
        font-size: 2.3em;
        margin-top: 25px;
        text-align: center;
    }

    input {
        [type='email'],
        [type='password'] {
            background-color: transparent;
            border-color: #4d4d4d;
            border-radius: 0;
            color: #4d4d4d;
            font-size: 1em;
            height: auto;
            margin: 10px 0;
            padding: 10px;

            :focus {
                border-color: #3acda0;
                box-shadow: none;
            }
        }

        [type='submit'] {
            background-color: #e93535;
            border: 0;
            color: $white;
            font-size: 1.3em;
            margin-top: 10px;
            padding: 10px;
            text-transform: uppercase;
            width: 100%;

            :hover {
                background-color: #cc2626;
            }
        }
    }
}

// Login Modal
.omw-login {
    background-color: $white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-sizing: border-box;
    padding: 10px;
    position: fixed;
    right: 30px;
    top: 90px;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(.61, .14, .5, 1.4);
    width: 220px;
    z-index: 10;

    form {
        position: relative;
    }

    input {
        background-color: transparent;
        border: 0;
        color: #8c8c8c;
        font-size: 1em;
        margin: 0;
        padding: 10px;
        width: 100%;

        [type='submit'] {
            background-color: #e93535;
            color: $white;
            font-size: 1.3em;
            margin-top: 10px;
            padding: 10px;
            text-transform: uppercase;

            :hover {
                background-color: #cc2626;
            }
        }

        :active,
        :focus {
            border: 0;
            outline: 0;
        }
    }

    .omw-underline {
        background-color: #343434;
        display: block;
        height: 1px;
    }

    #customBtn {
        background: $infinite-sea;
        color: $deep-space;
        display: inline-block;
        white-space: nowrap;
        width: 198px;

        .buttonText {
            display: inline-block;
            font-size: .7em;
            font-weight: bold;
            padding-left: 8px;
            text-transform: uppercase;
            vertical-align: middle;
        }

        .icon {
            background: url('/assets/images/basic/g-logo.png') transparent 5px 50% no-repeat;
            background-size: 91% auto;
            display: inline-block;
            height: 42px;
            left: -3px;
            position: relative;
            vertical-align: middle;
            width: 42px;
        }

        :hover {
            background: $infinite-sea;
            cursor: pointer;
        }
    }


    .omw-login-password {
        display: block;
        text-align: center;
        text-decoration: none;
        color: #4d4d4d;
        padding-top: 10px;
        font-size: .8em;
    }

    .omw-login-password:hover {
        text-decoration: underline;
    }
}

.omw-login::after {
    position: absolute;
    top: -20px;
    right: 15px;

    width: 0;
    height: 0;

    content: '';

    border-width: 0 20px 20px 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.omw-login::before {
    position: absolute;
    top: -21px;
    right: 15px;

    width: 0;
    height: 0;

    content: '';

    border-width: 0 20px 20px 20px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
}

.omw-login.omw-modal-hidden {
    visibility: hidden;

    -webkit-transform: scale(.8);
       -moz-transform: scale(.8);
        -ms-transform: scale(.8);
         -o-transform: scale(.8);
            transform: scale(.8);

    opacity: 0;
}

/*Content*/
.omw-content {
    position: relative;

    width: 100%;

    .omw-hero-image {
        position: relative;

        width: 100%;
        height: 56.5vw;
        max-height: 100vh;

        background-image: url('../../assets/images/basic-adc/head-bkg.jpg');
        background-size: cover;

        .hero-logo {
            position:absolute;
            top: 50%;
            left: 50%;
            width: 16em;
            margin-left: -8em;

            background: transparent url('../../assets/images/basic-adc/head-rocket.png') no-repeat center center;
            background-size: auto 100%;

            @media (min-width: 1600px) {
                height: 13em;
                margin-top: -10em;
            }

            @media (min-width: 1200px) and (max-width: 1600px) {
                height:12em;
                margin-top: -8em;
            }

            @media (min-width: 768px) and (max-width: 1200px) {
                height:9em;
                margin-top: -6em;
            }

            @media (min-width: 480px) and (max-width: 768px) {
                height:5em;
                margin-top: -3em;
            }

            @media (max-width: 480px) {
                height: 3em;
                margin-top: -2em;
            }
        }

        .omw-hero-text {
            position: absolute;
            top: 50%;
            left: 50%;

            width: 90%;

            -webkit-transform: translate(-50%, -50%);
               -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                 -o-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            text-align: center;
            white-space: nowrap;

            color: #fff;

            @media (min-width: 1600px) {
                margin-top: 5em;
                font-size: 1.8em;
            }

            @media (min-width: 1200px) and (max-width: 1600px) {
                margin-top: 7em;
                font-size: 1.3em;
            }

            @media (min-width: 768px) and (max-width: 1200px) {
                margin-top: 6em;
                font-size: 1.1em;
            }

            @media (min-width: 480px) and (max-width: 768px) {
                margin-top: 6em;
                font-size: 1em;
            }

            @media (max-width: 480px) {
                margin-top: 4em;
                font-size: 0.8em;
            }
        }



        .omw-hero-more {
            position: absolute;
            top: 50%;
            left: 50%;
            //cursor: pointer;

            //padding: 9px 30px;

            //text-transform: uppercase;
            //border-radius: 3px;

            //cursor: pointer;
            -webkit-transform: translateX(-50%);
               -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                 -o-transform: translateX(-50%);
                    transform: translateX(-50%);

            //color: $deep-space;
            //background-color: $infinite-sea;


            @media (min-width: 1600px) {
                margin-top: 15em;
            }

            @media (min-width: 1200px) and (max-width: 1600px) {
                margin-top: 15em;
            }

            @media (min-width: 768px) and (max-width: 1200px) {
                margin-top: 12em;
            }

            @media (min-width: 480px) and (max-width: 768px) {
                display: none;
            }

            @media (max-width: 480px) {
                display: none;
            }
        }

        .omw-hero-more:hover {
            background-color: $light-cyan50;
            color:$black;
        }

        .omw-hero-text-underline {
            position: absolute;
            bottom: -24px;
            left: 50%;

            width: 100px;
            height: 30px;
            margin-left: -129px;

            @media (min-width: 1600px) {
                bottom: -28px;
                width: 120px;
                margin-left: -157px;
            }

            @media (min-width: 1200px) and (max-width: 1600px) {
                width: 91px;
                margin-left: -115px;
            }

            @media (min-width: 768px) and (max-width: 1200px) {
                width: 75px;
                margin-left: -97px;
            }

            @media (min-width: 480px) and (max-width: 768px) {
                width: 70px;
                margin-left: -89px;
            }

            @media (max-width: 480px) {
                width: 53px;
                margin-left: -70px;
            }


            // @media (min-width: 1600px) {
            //     bottom: -32px;
            //     width: 202px;
            //     margin-left: -260px;
            // }
            //
            // @media (min-width: 768px) and (max-width: 1024px) {
            //     bottom: -20px;
            //
            //     width: 170px;
            //     height: 23px;
            //     margin-left: -197px;
            // }
            //
            // @media (min-width: 480px) and (max-width: 768px) {
            //     bottom: -16px;
            //
            //     width: 80px;
            //     height: 20px;
            //     margin-left: -112px;
            // }
            //
            // @media (max-width: 479px) {
            //     bottom: -11px;
            //
            //     width: 60px;
            //     height: 15px;
            //     margin-left: -85px;
            // }

            .omw-hero-text-underline-path {
                fill: none;
                stroke: #fff;
                stroke-width: 3px;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-miterlimit: 10;

                opacity: 0;
            }
        }

        [name='omw-about'] {
            position: absolute;
            bottom: 79px;
        }
    }

    .omw-about {
        position: relative;

        width: 100%;
        margin: 0 auto;

        text-align: center;

        color: $black;
        background-color: $light-grey;


        .omw-about-title {
            font-size: 1.7em;
            font-weight: bold;
            padding-top: 100px;
            text-transform: uppercase;
            width: 100%;
        }

        .omw-about-subtitle {
            font-size: .9em;
            padding: 10px 50px 100px;
            width: 100%;

            @media (min-width: 1200px) {
                margin: 0 auto;
                max-width: 40%;
            }

            @media (min-width: 768px) and (max-width: 1200px) {
                margin: 0 auto;
                max-width: 60%;
            }

        }

        .omw-about-arrow-down {
            svg {
                cursor: pointer;
                height: 60px;
                margin: 0 auto 25px 0;
                text-align: center;
                transition-duration: 300ms;
                width: 60px;

                :hover {
                    transform: scale(.9);
                }
            }
        }

        .omw-flex-about-wrapper {
            width: 100%;
            height: 700px;
            background-image: url('../../assets/images/basic-adc/locker-bkg.jpg');
            background-size: 100% auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;
            margin-bottom:50px;
            height: 800px;
            //background-color: $dark-navy50;

            // @media (min-width: 1600px) {
            //     height: 800px;
            // }
            //
            // @media (min-width: 1200px) and (max-width: 1599px) {
            //     height: 800px;
            // }
            //
            // @media (min-width: 1024px) and (max-width: 1200px) {
            //     height: 800px;
            // }
            //
            // @media (min-width: 768px) and (max-width: 1024px) {
            //     height: 500px;
            // }
            //
            // @media (min-width: 480px) and (max-width: 768px) {
            //     height: 500px;
            // }
            //
            // @media (max-width: 479px) {
            //     height: 400px;
            // }

            .omw-flex.omw-flex-about {
                background-image: url('../../assets/images/basic-adc/about-img.png');
                max-width: 1180px;
                margin: 0 auto;
                height:100%;
                background-size:70% auto;
                background-position:center center;
                background-repeat:no-repeat;

                .omw-about-box {
                    position: relative;

                    box-sizing: border-box;
                    width: 25%;
                    height: 25vw;
                    max-height: 295px;

                    .omw-about-box-content {
                        position: absolute;
                        top: 50%;
                        left: 50%;

                        -webkit-transform: translate(-50%, -50%);
                           -moz-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                             -o-transform: translate(-50%, -50%);
                                transform: translate(-50%, -50%);

                        color: #fff;

                        @media (min-width: 1600px) {
                            font-size: 1.5em;
                        }

                        @media (min-width: 1200px) and (max-width: 1599px) {
                            font-size: 1.2em;
                        }

                        @media (min-width: 1024px) and (max-width: 1200px) {
                            font-size: 1.2em;
                        }

                        @media (min-width: 768px) and (max-width: 1024px) {
                            font-size: 1.6em;
                        }

                        @media (min-width: 480px) and (max-width: 768px) {
                            font-size: 1em;
                        }

                        @media (max-width: 479px) {
                            font-size: .8em;
                        }
                    }
                }

                .omw-about-box:nth-child(2) {
                    background-image: url('../../assets/images/basic/about-1.jpg');
                    background-size: cover;
                }

                .omw-about-box:nth-child(3) {
                    background-image: url('../../assets/images/basic/about-2.jpg');
                    background-size: cover;
                }

                .omw-about-box:nth-child(5) {
                    background-image: url('../../assets/images/basic/about-3.jpg');
                    background-size: cover;
                }

                .omw-about-box:nth-child(7) {
                    background-image: url('../../assets/images/basic/about-4.jpg');
                    background-size: cover;
                }

                .omw-about-box:nth-child(8) {
                    background-image: url('../../assets/images/basic/about-5.jpg');
                    background-size: cover;
                }
            }

			.omw-flex.omw-flex-adlocker {
				max-width: 1180px;
                margin: 0 auto;

                .omw-adlocker-box {
                    box-sizing: border-box;
                    height: 70vw;
                    margin: 200px auto 0;
                    max-height: 295px;
                    position: relative;
                    width: 600px;

                    @media (max-width:  680px) {
                        margin: 50px auto 0;
                    }


                    .omw-adlocker-title {
                        color: $white;
                        font-size: 1.6em;
                        font-weight: bold;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                    }

                    .omw-adlocker-subtitle {
                        color: $white;
                        font-size: 1em;
                        margin-bottom: 35px;
                    }
                    .omw-adlocker-search-input {
                        ::before {
                               content: 'asdda';
                               position: absolute;
                               top: 0;
                               width: 20px;
                               background-color: red;
                               height: 20px;
                        }
                    }

                    #omw-adlocker-search-input {
                        background-image: url('../../assets/images/basic-adc/search-icon-green.png');
                        background-position: right center;
                        background-repeat: no-repeat;
                        border: 0;
                        color: #333;
                        font-size: .8em;
                        outline: 0;
                        padding: 10px 60px 10px 10px;
                        width: 60%;


                        @media (max-width:  680px) {
                            left: 50%;
                            position: absolute;
                            transform: translateX(-50%);
                            top: 240px;

                        }


                    }

                    .autosuggest ul li a span {
                        font-weight: 300;
                        padding: 3px 15px;
                    }

                    .omw-search-filter {

                        float: left;

                        height: 40px;
                        line-height: 32px;
                        position: relative;
                        width: 40%;

                        @media (max-width:  680px) {
                            left: 50%;
                            position: absolute;
                            transform: translateX(-50%);
                            top: 100px;
                            width: 60%;
                        }

                        .btn {
                            background-color: $outer-space;
                            border: 0;
                            border-radius: 0;
                            color: $infinite-sea;
                            font-size: .6em;
                            height: 100%;
                            margin: 0;
                            outline: none;
                            padding: 8px 20px;
                            text-align: left;
                            width: 100%;

                            @media (max-width:  680px) {
                                padding: 8px 10px;
                            }

                            :focus,
                            :active {
                                box-shadow: none;
                                outline: none;
            				}

                            .caret {
                                float: right;
                                //margin-left: 6px;
                                position: relative;
                                top: 3px;
                                transform: scale(2);

            				}

        				}

                        :hover {
                            color: $white;
                        }

                        .dropdown-menu {
                            background-color: $outer-space;
                            border: 0;
                            border-radius: 0;
                            color: #595959;
                            font-size: .6em;
                            margin: 0;
                            padding: 0;
                            width: 100%;

                            li {
                                padding-top: 3px;

                                a {
                                    background-color: rgba(255, 255, 255, .7);
                                    color: $outer-space;
                                    padding: 10px 20px;



                                }

                                :hover {
                                    background-color: $infinite-sea;
                                    color: $outer-space;
                                }
        				    }
        				}
                    }
                }
			}
        }

        [name='omw-products'] {
            bottom: 79px;
            position: absolute;
        }
    }

    .omw-products {
        background-image: url('../../assets/images/basic-adc/sample-bkg-bottom.jpg');
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center bottom;

        width: 100%;
        margin: 0 auto;
        padding-bottom: 10px;

        text-align: center;

        color: #333;
        background-color: $sample-wrap;


        .omw-products-header {
            background-color: $light-grey;
        }

        .omw-products-title {
            font-size: 1.7em;
            font-weight: bold;
            padding-top: 25px;
            text-transform: uppercase;
            width: 100%;

        }

        .omw-products-subtitle {
            font-size: .9em;
            padding: 10px 50px 50px;
            width: 100%;

            @media (min-width: 1200px) {
                margin: 0 auto;
                max-width: 40%;
            }

            @media (min-width: 768px) and (max-width: 1200px) {
                margin: 0 auto;
                max-width: 60%;
            }

        }

        .omw-products-filter {
            font-size: .9em;
            height: 35px;
            margin: 0 auto;
            position: relative;
            width: 100%;

            @media (max-width:  680px) {
                height: auto;
                padding-bottom: 10px;

            }

            //padding-bottom: 50px;

            // @media (max-width: 1200px) {
            //     padding-bottom: 25px;
            // }
            //
            // @media (max-width: 680px) {
            //     padding-bottom: 10px;
            // }

            .omw-products-filter-title {
                display: inline-block;

                padding-right: 5px;

                -webkit-transform: translateY(-20px);
                   -moz-transform: translateY(-20px);
                    -ms-transform: translateY(-20px);
                     -o-transform: translateY(-20px);
                        transform: translateY(-20px);

                @media (max-width: 680px) {
                    display: block;

                    margin: 0 auto;
                    padding: 15px 0 0 0;
                }
            }

            label {

                position: relative;

                display: inline-block;

                width: 150px;
                height: 35px;
                margin: 0;
                line-height: 35px;
                text-transform: uppercase;
                margin-right: 10px;
                border-radius: 3px 3px 0px 0px;
                font-weight:bold;

                cursor: pointer;
                -webkit-transition-duration: 200ms;
                   -moz-transition-duration: 200ms;
                    -ms-transition-duration: 200ms;
                     -o-transition-duration: 200ms;
                        transition-duration: 200ms;

                outline: none;
                background-color: $deep-space;
                color: $infinite-sea;

                @media (max-width: 680px) {
                    display: block;

                    width: 320px;
                    margin: 0 auto 10px auto;
                }
            }

            label::after {
                position: absolute;
                top: 50%;
                left: 50%;

                content: attr(title);
                -webkit-transform: translate(-50%, -50%);
                   -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                     -o-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                white-space: nowrap;


            }

            // label::before {
            //     content: "s";
            //     background-image: url('../../assets/images/basic-adc/arrow.png');
            //     background-position: center ;
            //     background-repeat: no-repeat;
            //     background-size: auto 100%;
            //     position: absolute;
            //     width: 150px;
            //     top: 35px;
            //     left: 0;
            //     text-indent: -9000px;
            // }

            label:hover {
                //background-color: $deep-space;
            }

            input[type='radio'] {
                display: none;
            }

            input[type='radio']:checked + label {
                background-color: $infinite-sea;
                color: $deep-space;


            }

            @media (min-width: 680px) {
                input[type='radio']:checked + label::before {
                    content: "s";
                    background-image: url('../../assets/images/basic-adc/arrow.png');
                    background-position: center ;
                    background-repeat: no-repeat;
                    background-size: auto 100%;
                    position: absolute;
                    width: 150px;
                    top: 35px;
                    left: 0;
                    text-indent: -9000px;
                }
            }

            input[type='radio']:checked + label:hover {
                background-color: $infinite-sea;
                color: $deep-space;
            }
        }

        .omw-products-wrap {
            background-image: url('../../assets/images/basic-adc/sample-bkg-top.jpg');
            background-repeat: no-repeat;
            background-size: 100% auto;
            min-height: 2000px;
            padding: 70px 0;
        }

        .omw-flex.omw-flex-products {
            margin: 0 auto;
            max-width: 1020px;

            @media (max-width: 1020px) {
                width: 680px;
            }

            @media (max-width: 680px) {
                width: 320px;
            }

            .omw-product {
                background-color: #fff;
                height: 480px;
                margin: 10px;
                position: relative;
                width: 320px;

                @media (max-width: 680px) {
                    margin: 10px 0;
                }

                .owl-carousel {
                    display: block;
                }

                .owl-carousel.omw-product-images {
                    display: block;

                    .omw-product-image {
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        height: 480px;

                        .omw-product-qr {
                            font-size: 20px;
                            padding-top: 40px;
                        }
                    }

                    .owl-controls {
                        position: absolute;
                        z-index: 10;
                        bottom: 50px;
                        left: 50%;

                        margin: 0;

                        -webkit-transform: translateX(-50%);
                           -moz-transform: translateX(-50%);
                            -ms-transform: translateX(-50%);
                             -o-transform: translateX(-50%);
                                transform: translateX(-50%);

                        .owl-pagination {
                            display: block;

                            .owl-page span {
                                width: 10px;
                                height: 10px;
                                margin: 5px 5px;

                                border: 1px solid $infinite-sea;
                                background-color: transparent;
                            }

                            .owl-page.active span {
                                border: 1px solid $infinite-sea;
                                background-color: $infinite-sea;
                            }
                        }
                    }

                    .loading {
                        height: 480px;
                    }
                }

                .omw-product-info {
                    font-size: 0.8em;

                    position: absolute;
                    bottom: 0;
                    left: 0;
                    min-height:75px;
                    box-sizing: border-box;
                    width: 320px;
                    padding: 40px 10px 5px 15px;

                    color: #fff;
                    background-color: $outer-space;

                    .omw-product-name {
                        // line-height: 36px;
                        max-width: 195px;
                        display: block;

                        text-align: left;
                    }

                    .omw-product-link {
                        position: absolute;
                        bottom: 8px;
                        right: 9px;
                        font-size: .9em;

                        display: block;

                        padding: 7px 15px;

                        color: $dark-navy50;
                        background-color: $light-cyan50;

                        cursor: pointer;
                    }

                    .omw-product-link:hover {
                        text-decoration: none;

                        color: $white;
                        background-color: $light-cyan50;
                    }
                }
            }
        }
    }

    .omw-heart-message {
        color: $white;
        font-size: 1.5em;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;

        .fa-heart {
            position: relative;
            margin: 0 5px;
            animation: pulse 5s infinite;
            -webkit-animation: pulse 5s infinite;
            -moz-animation: pulse 5s infinite;
        }

        @-webkit-keyframes pulse {
            0% {
                -webkit-transform: scale(1);
            }

            50% {
                -webkit-transform: scale(1.2);
            }

            100% {
                -webkit-transform: scale(1);
            }
        }

        @keyframes pulse {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(1);
            }
        }

        @-moz-keyframes pulse {
            0% {
                -moz-transform: scale(1);
            }

            50% {
                -moz-transform: scale(1.2);
            }

            100% {
                -moz-transform: scale(1);
            }
        }
    }
}

#as_omw-adlocker-search-input {
    background-image: url('../../assets/images/basic-adc/as_pointer_green.png');
    @media (max-width:  680px) {
        left: 50%;
        position: absolute;
        transform: translateX(-50%);

    }

    ul {
        background-color: rgba(255, 255, 255, .7);
        border-top: 4px $infinite-sea solid;
    }

    .as_footer {

        .as_bar {
            background-color: $infinite-sea;
            height: 4px;
        }
    }

}

 #as_omw-adlocker-search-input {



    .as_header{
        background-color: rgba(255, 255, 255, .7);
		height:auto;
		overflow:hidden;
        border-top: 4px $infinite-sea solid;

        a {
		    color:white;
		}

		.as_all {
		    padding:6px 10px;
		    a {
				margin:2px;
				color: #333;
				float:left;
				padding: 3px 5px;
				font-size: 10px;
				text-transform: uppercase;
				text-decoration: none;
                cursor: pointer;
			}

            a.active {
                background-color:  $outer-space;
                color: $infinite-sea;
	        }

        }

        .as_bar {
			clear:both;
			color: $infinite-sea;
			padding:0px 15px;
			font-size:0.8em;
			background-color: $outer-space;
			height:30px;
			line-height: 30px;
			text-transform: uppercase;
		}


	}

	#as_ul {
		li {
			// height:52px;
		    padding: 2px 0px;
		    text-transform: uppercase;
		    color: #333;
		    font-weight: 300;
		    a {
			    // height:52px;
			    padding: 2px 0;
			    text-transform: uppercase;
			    color: #333;
			    font-weight: 300;

                :active {
                    color: #333;
                }
			}
            small {
                font-weight: normal;
                font-size: .9em;
				text-transform: capitalize;
	        }

	    }

        li:nth-child(odd) {
            background-color: transparent;
        }

        li:nth-child(even) {
            background-color: transparent;
        }

        li.as_warning {
            background-color: transparent;
        }
	}

	#as_ul li.as_warning{
		line-height: 52px;
	}

    ul {
        li {
            a {
                color: #333;

                :active,
                :hover {
                    color: #333;
                }

                span {
                    font-weight: bold;
                    padding: 3px 15px;
                }
            }
        }
    }
 }

#qrcode-title {
    color: $white;
    font-size: .8em;
    margin: 0 30px;
    position: relative;
}

#qrcode-image {
    background-repeat: no-repeat;
    background-size: 200px auto;
    height: 200px;
    margin: 20px auto;
    width: 200px;
}

/*Modal*/
.omw-product-modal-wrapper {
    position: fixed;
    z-index: 50;
    top: 50%;
    left: 50%;

    overflow-y: scroll;

    width: 0;
    height: 0;

    -webkit-transition-duration: 300ms;
       -moz-transition-duration: 300ms;
        -ms-transition-duration: 300ms;
         -o-transition-duration: 300ms;
            transition-duration: 300ms;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    opacity: 0;
    background-color: #fff;

    @media (max-width: 768px) {
        overflow: hidden;
    }

    .omw-product-modal-content {
        background: $dark-navy50 url('../../assets/images/basic-adc/sample-bkg-bottom.jpg') bottom right no-repeat;
        background-size: 100% auto;
        background-position-x: 100px;
        position: absolute;
        top: 0;
        right: 0;

        box-sizing: border-box;
        width: 100%;
        min-height: 100%;
        padding-left: 250px;

        -webkit-transition-duration: 300ms;
           -moz-transition-duration: 300ms;
            -ms-transition-duration: 300ms;
             -o-transition-duration: 300ms;
                transition-duration: 300ms;
        text-align: center;

        opacity: 0;


        .omw-product-modal-title {
            font-size: 1.4em;
            margin-top: 50px;
            text-transform: uppercase;
        }

        .omw-product-modal-description {
            font-size: .8em;

            max-width: 775px;
            margin: 0 auto;
            margin-top: 10px;
            //padding: 0 90px;
        }

        .omw-product-modal-share-button {
	        border:1px solid #333;
            font-size: 15px;

            padding: 5px 15px;
            cursor: pointer;
            text-decoration: none;
            text-transform: uppercase;
            color:#333;
            position: absolute;
            top: 28px;
            left: 15px;
            margin: 0 auto 0 260px;

            @media (max-width: 1250px) {
                display:none;
            }
        }

        .omw-product-modal-qrcode-button {
	        border:1px solid #333;
            font-size: 15px;
            width:88px;
            height:35px;
            padding: 5px 8px;
            cursor: pointer;
            text-decoration: none;
            text-transform: uppercase;
            color:#333;
            background-color: white;
            position: absolute;
            top: 28px;
            left: 15px;
            margin: 0 auto 0 260px;
            text-align: left;
            overflow: hidden;

            /*
            -webkit-box-shadow: -1px 0px 19px -5px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 0px 19px -5px rgba(0,0,0,0.75);
            box-shadow: -1px 0px 19px -5px rgba(0,0,0,0.75);
            */

            -webkit-transition: height 0.6s, width 0.4s;
            transition: height 0.6s, width 0.4s;

            @media (max-width: 1250px) {
                display:none;
            }

            #omw-product-qr {
                position:absolute;
                font-size: 0.9em;
                text-transform: none;
                width: 180px;
                margin:0px;
                padding:0px;
                bottom:-40px;

                opacity:0;

                -webkit-transition-duration:0.5s;
                transition-duration:0.5s;

                a {
                    color: #333;
                }
            }

            #omw-qrcode-image {
                // position:absolute;
                width:auto;
                height:215px;
                background-size: 215px auto !important;
                background-repeat: no-repeat;

                -webkit-transition-duration:0.5s;
                transition-duration:0.5s;

            }

            #qrcode-close {
                position:absolute;
                width:22px;
                height:22px;
                top:5px;
                right:6px;
                opacity: 0;
            }
        }

        .omw-product-modal-qrcode-bottom {
            top: 90px;
        }

        .omw-product-modal-share-button:hover {
            background: rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
        }

        .omw-device-iframe {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 100;
        }
    }
}

.omw-product-modal-wrapper-expand {
    width: 100%;
    height: 100%;

    opacity: 1;
    color: $white;
}

.omw-product-modal-menu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 250px;
    height: 100%;

    -webkit-transition-duration: 300ms;
       -moz-transition-duration: 300ms;
        -ms-transition-duration: 300ms;
         -o-transition-duration: 300ms;
            transition-duration: 300ms;

    background-color: $deep-space;

    @media (max-width: 767px) {
        display: none;
    }

    .omw-product-modal-logo {
        width: 135px;
        height: 80px;
        margin-left: 30px;

        background-image: url('../../assets/images/basic-adc/adcolony-logo-white.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
    }
}

.omw-product-modal-close {
    background: transparent url('../../assets/images/basic-adc/close.png') center center no-repeat;
    background-size: 45% auto;
    position: fixed;
    z-index: 100;
    top: 15px;
    right: 15px;

    visibility: hidden;

    width: 50px;
    height: 50px;
    padding: 10px;

    transition-duration: 300ms;

    opacity: 0;
    color: #333;

    @media (max-width: 768px) {
        top: 0;
        right: 0;
    }
}

.omw-product-modal-close:hover {
    -webkit-transform: scale(.9);
       -moz-transform: scale(.9);
        -ms-transform: scale(.9);
         -o-transform: scale(.9);
            transform: scale(.9);
}

.omw-product-modal-menu-hide {
    -webkit-transform: translate3d(-100%, 0, 0);
       -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
         -o-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
}



/*Preload*/
@keyframes preload {
    0%, 100% { background-color: #8c8c8c; }
    50% { background-color: #d9d9d9; }
}

@-webkit-keyframes preload {
    0%, 100% { background-color: #8c8c8c; }
    50% { background-color: #d9d9d9; }
}

@-moz-keyframes preload {
    0%, 100% { background-color: #8c8c8c; }
    50% { background-color: #d9d9d9; }
}


.omw-overlay {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: $light-grey;

    transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    -ms-transition-duration: 300ms;

    .omw-preload {
        position: absolute;
        left: 50%;
        top: 50%;
        list-style: none;

        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

        .omw-preload-bar {
            float: left;
            width: 10px;
            height: 50px;
            margin: 0 2px;
            background-color: #8c8c8c;

            animation: preload 500ms ease-in-out infinite;
            -webkit-animation: preload 500ms ease-in-out infinite;
            -moz-animation: preload 500ms ease-in-out infinite;

            &:nth-child(1) {
                animation-delay: 0ms;
            }

            &:nth-child(2) {
                animation-delay: 100ms;
            }

            &:nth-child(3) {
                animation-delay: 200ms;
            }
        }
    }
}

/*Helper Classes*/
.omw-flex {
    display: -webkit-box;
    display:    -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.omw-col-2 {
    width: 50%;
}

.omw-col-3 {
    width: 33.3333333333%;
}

.omw-col-4 {
    width: 25%;
}

// ZenWrapper CSS

// .container{
// /*  -webkit-transform: translateX(-200%);
//     transform: translateX(-200%);
//     position: absolute;
//     margin-left:50%;
//     -webkit-transition-duration: 300ms;
//     transition-duration: 300ms;*/
//     display:none;
//     margin-left:30px;
//     max-width: 1030px;
//
// }
// .container.active{
// /*  -webkit-transition-delay: 500ms;
//     transition-delay: 500ms;
//     -webkit-transform: translateX(-50%);
//     transform: translateX(-50%);*/
//     display:block;
// }

#current-tag-zen,
#output-tag-zen,
#image-interstitial-output-tag,
#dfa-output-tag,
#dfa-tag,
#celtra-output-tag,
#celtra-tag{
    height:300px;
    max-width:100%;
}

.sample-iframe{
    width:375px;
    height:668px;
    right: 27px;
    top: 116px;
    background:#000;
    position:absolute;
/*    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);*/
}
#celtra-not-available,
#offnetwork-not-available{
    width: 375px;
    height: 668px;
    right: 27px;
    top: 116px;
    background:#009140;
    position:absolute;
    color:#fff;
    font-size:25pt;
    padding:10px;
    opacity:0;
    -webkit-transition-duration:300ms;
    -moz-transition-duration:300ms;
    -ms-transition-duration:300ms;
    transition-duration:300ms;
}

#iframe-container{

    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    position:fixed;
    right:-50px;
    top:-50px;
    z-index:100;

    background-image:url('../../assets/images/basic/iphone_6.png');
    background-size: 593px auto;
    background-position: center;
    background-repeat: no-repeat;
    width:428px;
    height:900px;
    -webkit-transition-duration:800ms;
    -moz-transition-duration:800ms;
    -ms-transition-duration:800ms;
    transition-duration:800ms;

}

#show-hide-sample{
    position:fixed;
    right:20px;
    font-size:18px;
    font-weight:800;
    top:150px;
    text-align: center;
    z-index:101;
}

#menu-dropdown
{
    width:300px;
    margin:30px 0 0 30px;
}

#interstitial-menu-dropdown{
    width:300px;
}
#uploaded-image{
    display: block;
    visibility: hidden;
    width: 0px;
    height: 0px;
}

@media (max-width: 1290px) {
  #show-hide-sample{
    position:absolute;
  }
}
